<style type="text/css">
  hr {
    margin: 0 0 0 0 ;
  }
</style>
<div class="container" style="padding-left: 203px;padding-top: 38px">
  <div class="row">
    <div class="col-md-12" style="padding-left: 0px">
      <h3 style="color: #484848;font-size: 29px"><strong>Bookmarks</strong></h3>
      <p style="font-size: 16px;color: #a0a0a0;padding-top: 6px;padding-bottom: 10px">Save tip for later so you can easily find them when you need them</p>
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="padding:5px 10px; border-radius: 2px;background-color: #f2f2f2;font-size: 12px; border-color: transparent; color: #c3c3c3; width: 170px;">
          <i class="fa fa-search" style="margin-left: -30px; color: #c3c3c3"></i>
        </div>
      </form>      
    </div>
  </div>
  <div class="row" style="padding-top: 29px">
    <div class="col-md-2">
      <div class="row" style="padding-bottom: 12px">
        <div class="col-md-12" style="padding: 0px;margin: 0px">
          <p style="font-size: 13px;color: #505050;margin-bottom: 5px">Destinations</p>
          <hr width="11px" align="left" style="margin-top: 0px;border-color: #c232ff">
        </div>
      </div>
      <div class="row" style="padding-left: 15px;">
        <table class="borderless" >
          <tbody style="color: #a3a3a3">
            <% current_user.countries.uniq.each do |country| %>
            <tr>
              <td style="width: 30%; padding-left: 0px;padding-top: 7px;font-size: 13px">
                <div class="row" style="padding: 0px;margin: 0px">
                  <i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>
                  <a href="#" style="font-size: 14px;color: #ababab;padding-right: 0px;padding-top: 0px;margin: 0px"><b><%= country.name %></b></a>
                </div>
              </td>
            </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
      <div class="row" style="padding-top: 25px">
        <p style="font-size: 12px;color: #ababab;margin-bottom: 10px">see all destinations</p>
      </div>
      <div class="row" style="padding-top: 40px">
        <div class="col-md-12" style="padding: 0px;margin: 0px">
          <p style="font-size: 13px;color: #505050;margin-bottom: 5px">Countries</p>
          <hr width="11px" align="left" style="margin-top: 0px;border-color: #c232ff">
        </div>
      </div>
      <div class="row" style="padding-left: 15px;">
        <table class="borderless" style="">
          <tbody style="color: #a3a3a3">
            <% current_user.countries.uniq.each do |country| %>
            <tr>
              <td style="width: 30%; padding-left: 0px;padding-top: 7px;font-size: 13px">
                <div class="row" style="padding: 0px;margin: 0px">
                  <i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>
                  <a href="#" style="font-size: 14px;color: #ababab;padding-right: 0px;padding-top: 0px;margin: 0px"><b><%= country.name %></b></a>
                </div>
              </td>
            </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
      <div class="row" style="padding-top: 25px">
        <p style="font-size: 12px;color: #ababab;margin-bottom: 10px">see all countries</p>
      </div>
    </div>
    <div class="col-md-10" style="padding-left: 54px">
      <div class="row" style="padding-bottom: 16px;">
        <div class="col-md-6" style="padding: 0px;margin: 0px">
          <p style="font-size: 13px;color: #484848;margin-bottom: 5px">Tips</p>
          <hr width="11px" align="left" style="margin-top: 0px;border-color: #c232ff">
        </div>
        <div class="col-md-6" style="padding-right: 100px">
          <div class="row pull-right">
            <div class="col-md-12" style="padding: 0px;margin: 0px">
              <p style="font-size: 13px;color: #a0a0a0;margin-bottom: 5px">Sort<i class="fa fa-angle-down" style="padding-left: 5px"></i></p> 
              <hr width="100%" align="left" style="margin-top: 0px;border-color: #a0a0a0">
            </div>
          </div>
        </div>
      </div>
      <div style="margin: 0 4% 0 -8%;">
        <% @tips.each do |tip| %>
          <%= render partial: "tips/tip_card" , locals: {tip: tip} %>
        <% end -%>
      </div>
      
    </div>
  </div>
</div>

<script type="text/javascript">
  function addFavorite(tip,element){

    console.log(element.attr("id"));

    $.post('<%=add_favorite_tip_path%>',{tip_id: tip}, function (data) {

      if (data.success == true) {
        

        if ($(element).hasClass('fa-bookmark')) {
            console.log('fa-bookmark-o');
            $(element).addClass('fa-bookmark-o');
            $(element).removeClass('fa-bookmark');
            $(element).parent().parent().parent().parent().parent().parent().fadeOut("normal",function(){$(this).remove();});
        }else{
            console.log('fa-bookmark');
            $(element).addClass('fa-bookmark');
            $(element).removeClass('fa-bookmark-o');
        }
      }
    });
  }
</script>
  


 