<div class="row">
    <div class="col-md-12">
        <h1>
            Tips flags list
        </h1>
        <%= notice.html_safe if notice %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>                    
                    <th>Attraction</th>
                    <th>Created at</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% @flags.each do |flag| %>
                <tr>
                    <td><%= flag.id %></td>
                    <td><%= flag.user.username %></td>
                    <td><%= flag.tip.entity.name %></td>
                    <td><%= flag.created_at %></td>
                    <td><%= flag.status_name %></td>
                    <td><%= link_to "Details", admin_tip_flag_path(flag), class: 'btn btn-primary btn-xs' %></td>
                </tr>
                <% end -%>
            </tbody>
        </table>
    </div>
</div>