<h1>
    Tip details 
    <%= link_to "Back to tips list", admin_tips_path, class: 'btn btn-default' %>
    <%# link_to "Edit", edit_admin_tip_path(@flag.tip), class: 'btn btn-primary' %>
</h1>

<table class="table">
    <tr>
        <td><b>Flagger username:</b></td>
        <td><%= link_to @flag.user.username %></td>
    </tr>
    <tr>
        <td><b>Flagged date:</b></td>
        <td><%= link_to @flag.created_at %></td>
    </tr>
    <tr>
        <td><b>Flagged option:</b></td>
        <td><%= @flag.option %></td>
    </tr>
    <tr>
        <td><b>Comments:</b></td>
        <td><%= @flag.observation %></td>
    </tr>
    <tr>
        <td colspan="2"><h3>Tip details</h3></td>
    </tr>
    <tr>
        <td><b>Username:</b></td>
        <td><%= link_to @flag.tip.user.username, admin_user_path(@flag.tip.user) %></td>
    </tr>
    <tr>
        <td><b>Attraction:</b></td>
        <td><%= link_to @flag.tip.entity.name, destination_path(type: @flag.tip.entity_type_name, id: @flag.tip.entity_id) %></td>
    </tr>
    <tr>
        <td><b>Subject:</b></td>
        <td><%= @flag.tip.subject %></td>
    </tr>
    <tr>
        <td><b>Body:</b></td>
        <td><%= @flag.tip.body %></td>
    </tr>
    <tr>
        <td><b>Categories:</b></td>
        <td><%= @flag.tip.categories.map { |e| e.name }.join(', ') %></td>
    </tr>
    <tr>
        <td><b>Total votes:</b></td>
        <td><%= @flag.tip.tip_votes.count %></td>
    </tr>
    <tr>
        <td><b>Created at:</b></td>
        <td><%= @flag.tip.created_at %></td>
    </tr>
</table>

