<%= form_for([@tip,@comment] , :html  => { :id  => "form-comment" } ) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error")%> prohibited this comment from being saved:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message%></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_area :body, placeholder:"Write a comment...", class: "text-box-comment",:presence => true %>    
  <div class="text-right">
    <button type="submit">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
  </div>

<% end %>