<%= form_for([:admin,@attraction]) do |f| %>

<table class="table">

    <tr>
        <td width="30%"><%= f.label :name, "Name" %></td>
        <td><%= f.text_field :name ,class: 'form-control' %></td>
    </tr>

    <tr>
        <td width="30%"><%= f.label :slug, "Slug" %></td>
        <td><%= f.text_field :slug ,class: 'form-control' %></td>
    </tr>
    
    <tr>
        <td><%= f.label :city_id,"City" %></td>
        <td><%= f.collection_select :city_id, City.all, :id, :name,  {prompt: "Select city or leave it blank"}, {class: "form-control" }%></td> 
    </tr>

    <tr>
        <td><%= f.label :country_id, "Country" %></td>
        <td><%= f.collection_select :country_id, Country.all, :id, :name,  {prompt: "Select country or leave it blank"}, {class: "form-control" }%></td> 
    </tr>

    <tr>
        <td><%= f.label :status, "Status" %></td>
        <td><%= f.select :status, options_for_select(Attraction.get_status_for_select, @attraction.status), {:include_blank => "Select status"},{:class => "form-control"} %></td>
    </tr>
    
</table>

<div class="row">
    <div class="col-md-12 text-right">
        <%= link_to "Back to the list of cities", admin_attractions_path, class: 'btn btn-default' %>
        <%= link_to "Cancel", admin_attraction_path(@attraction), class: 'btn btn-warning' if !@attraction.id.nil? %>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>

<% end -%>