<div class="row">
    <div class="col-md-12">
        <h1>
            List of attractions
            <%= link_to "Create attraction", new_admin_attraction_path, class: 'btn btn-primary' %>
        </h1>
        <%= notice.html_safe if notice %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>  
                    <th>Slug</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% @attractions.each do |attraction| %>
                <tr>
                    <td><%= attraction.id %></td>
                    <td><%= attraction.name %></td>
                    <td><%= attraction.slug %></td>
                    <td><%= attraction.location_name %></td>
                    <td><%= attraction.status_name %></td>
                    <td><%= link_to "Details", admin_attraction_path(attraction), class: 'btn btn-primary btn-xs' %></td>
                </tr>
                <% end -%>
            </tbody>
        </table>
    </div>
</div>