<div class="row">
    <div class="col-md-12">
        <h1>
             Details
            <%= link_to 'Back', admin_attractions_path, class: 'btn btn-default' %>
            <%= link_to "Edit", edit_admin_attraction_path(@attraction), class: 'btn btn-primary' %>            
            <%= link_to "Delete", admin_attraction_path(@attraction), class: 'btn btn-danger', data: {method: 'DELETE', confirm: 'are you sure?'} %>
        </h1>
        <%= notice.html_safe if notice %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <td><b>Id</b></td>
                <td><%= @attraction.id %></td>
            </tr>
            <tr>
                <td><b>Name:</b></td>
                <td><%= @attraction.name %></td>
            </tr>
            <tr>
                <td><b>Slug:</b></td>
                <td><%= @attraction.slug %></td>
            </tr>
            <tr>
                <td><b>City:</b></td>
                <td><%= @attraction.city.name rescue "Not set" %></td>
            </tr>
            <tr>
                <td><b>Country:</b></td>
                <td><%= @attraction.country.name rescue "Not set" %></td>
            </tr>
            <tr>
                <td><b>Status:</b></td>
                <td><%= @attraction.status_name %></td>
            </tr>
        </table>
    </div>
</div>