<style type="text/css">
  .nopadding {
    padding-left: 0px;
    padding-right: 0px;
  }
  .nomargin {
    margin-left: 0px;
    margin-right: 0px;
  }
  .active > .menup1 {
    color: #484848 !important;
  }
  .active > .menuhr1 {
    border-color: #c232ff !important;
  }
  .active > .menup2 {
    color: #484848 !important;
  }
  .active > .menuhr2 {
    border-color: #c232ff !important;
  }
  .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
  }
  .thumbnail {
    padding: 0;
  }
  .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
  }
  hr {
    margin: 0 0 0 0;
  }
</style>
<div class="container" style="padding-left: 99px;padding-right: 36px">
  <div class="row">
    <div class="col-md-12 nopadding">
      <div class="row nomargin">
        <div class="col-md-1 nopadding" style="padding-top: 28px;">
          <img src="<%= @user.avatar %>" class="img-circle img-responsive" style="height: 72px;width: 72px;border-radius: 50%">
        </div>
        <div class="col-md-9" style="padding-left: 16px;padding-right: 0px;">
          <div class="row" style="padding: 0px;margin: 0px">
            <p style="font-size: 17px;color: #484848;padding-right: 0px;padding-top: 31px;margin: 0px"><%= @user.username.capitalize  %></p>
            <i class="fa fa-circle" style="font-size: 5px;padding-top: 40px;color: #b8b8b8;padding-left: 16px;padding-right: 16px"></i>
            <p style="font-size: 16px;color: #9c9c9c;padding-right: 0px;padding-top: 31px;margin: 0px;">UI/UX Designer</p>
            <i class="fa fa-circle" style="font-size: 5px;padding-top: 40px;color: #b8b8b8;padding-left: 16px;padding-right: 16px"></i>
            <p style="font-size: 16px;color: #9c9c9c;padding-right: 0px;padding-top: 31px;margin: 0px">lospazio.co</p>
          </div>
          <div class="row nopadding nomargin" >
            <p style="font-size: 15px;color: #9c9c9c;padding-right: 295px;padding-top: 7px;margin: 0px;justify-content: left"><%= @user.bio %></p>
          </div>
        </div>
      </div>     
    </div>
  </div>
  <div class="row" style="padding-top: 43px">
    <div class="col-md-12 nopadding">
      <p style="font-size: 20px;color: #484848;padding-right: 295px;padding-top: 4px;margin: 0px;justify-content: left"><b><%= @user.username.capitalize  %> has writter <span style="padding-bottom: 10px;color: #c232ff;border-bottom: 1px solid;padding-bottom: 2px;border-width: 2px"> <%= @tips.where(user_id: @user.id).count %> tips</span> for <span style="color: #38b7ff;border-bottom: 1px solid;padding-bottom: 2px;border-width: 2px">  <%= @user.count_destinations %> destinations</span> in <span style="color: #ffc036;border-bottom: 1px solid;padding-bottom: 2px;border-width: 2px">  12 countries</span></b></p>
    </div>
  </div>
  <div class="row" style="padding-top: 29px">
    <div class="col-md-2">
      <div class="row" style="padding-bottom: 12px">
        <div class="col-md-12" style="padding: 0px;margin: 0px">
          <p style="font-size: 13px;color: #505050;margin-bottom: 5px">Destinations</p>
          <hr width="11px" align="left" style="margin-top: 0px;border-color: #c232ff">
        </div>
      </div>
      <div class="row" style="padding-left: 15px;">
        <table class="borderless" >
          <tbody style="color: #a3a3a3">
            <tr>
              <td style="width: 30%; padding-left: 0px;padding-top: 7px;font-size: 13px">
                <div class="row" style="padding: 0px;margin: 0px">
                  <i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>
                  <p style="font-size: 14px;color: #ababab;padding-right: 0px;padding-top: 0px;margin: 0px"><b>London</b></p>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 30%; padding-left: 0px;padding-top: 7px;font-size: 13px">
                <div class="row" style="padding: 0px;margin: 0px">
                  <i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>
                  <p style="font-size: 14px;color: #ababab;padding-right: 0px;padding-top: 0px;margin: 0px"><b>Amsterdam</b></p>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 30%; padding-left: 0px;padding-top: 7px;font-size: 13px">
                <div class="row" style="padding: 0px;margin: 0px">
                  <i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>
                  <p style="font-size: 14px;color: #ababab;padding-right: 0px;padding-top: 0px;margin: 0px"><b>New york</b></p>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 30%; padding-left: 0px;padding-top: 7px;font-size: 13px">
                <div class="row" style="padding: 0px;margin: 0px">
                  <i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>
                  <p style="font-size: 14px;color: #ababab;padding-right: 0px;padding-top: 0px;margin: 0px"><b>Copenhagen</b></p>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 30%; padding-left: 0px;padding-top: 7px;font-size: 13px">
                <div class="row" style="padding: 0px;margin: 0px">
                  <i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>
                  <p style="font-size: 14px;color: #ababab;padding-right: 0px;padding-top: 0px;margin: 0px"><b>Zurich</b></p>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 30%; padding-left: 0px;padding-top: 7px;font-size: 13px">
                <div class="row" style="padding: 0px;margin: 0px">
                  <i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>
                  <p style="font-size: 14px;color: #ababab;padding-right: 0px;padding-top: 0px;margin: 0px"><b>Roma</b></p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" style="padding-top: 25px">
        <p style="font-size: 12px;color: #ababab;margin-bottom: 10px">see all destinations</p>
      </div>
      <div class="row" style="padding-top: 40px">
        <div class="col-md-12" style="padding: 0px;margin: 0px">
          <p style="font-size: 13px;color: #505050;margin-bottom: 5px">Countries</p>
          <hr width="11px" align="left" style="margin-top: 0px;border-color: #c232ff">
        </div>
      </div>
      <div class="row" style="padding-left: 15px;">
        <table class="borderless" >
          <tbody style="color: #a3a3a3">
            <% @user.countries.uniq.each do |country| %>
            <tr>
              <td style="width: 30%; padding-left: 0px;padding-top: 7px;font-size: 13px">
                <div class="row" style="padding: 0px;margin: 0px">
                  <i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>
                  <a href="#" style="font-size: 14px;color: #ababab;padding-right: 0px;padding-top: 0px;margin: 0px"><b><%= country.name %></b></a>
                </div>
              </td>
            </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
      <div class="row" style="padding-top: 25px">
        <p style="font-size: 12px;color: #ababab;margin-bottom: 10px">see all destinations</p>
      </div>
    </div>
    <div class="col-md-10" style="padding-left: 54px">
      <div class="row" style="padding-bottom: 16px;">
        <div class="col-md-12 nopadding nomargin">
          <ul class="nav nav-tabs" style="border-bottom: 0px">
            <li class="" style="text-decoration-style: none;">
              <a data-toggle="tab" href="#home" class="active" style="text-decoration: none">
                <p class="menup1" style="font-size: 13px;color:  #9c9c9c;margin-bottom: 5px;">Tips</p>
                <hr class="menuhr1" width="11px" align="left" style="margin-top: 0px;border-color:  #9c9c9c">
              </a>
            </li>
            <li style="padding-left: 33px">
              <a data-toggle="tab" href="#menu1" style="text-decoration: none">
                <p class="menup2" style="font-size: 13px;color:  #9c9c9c;margin-bottom: 5px;">Photos</p>
                <hr class="menuhr2" width="11px" align="left" style="margin-top: 0px;border-color:  #9c9c9c">
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="home" class="tab-pane active">
              <% @tips.order("created_at desc").each do |tip| %>
                <%= render partial: "tips/tip_card" , locals: {tip: tip} %> 
              <% end %> 
            </div>
            <div id="menu1" class="tab-pane">
                  <div id="main_area">
                      <div class="row">
                          <div class="col-sm-12" style="padding-left: 0px" id="slider-thumbs">
                              <ul class="hide-bullets" style="padding-left: 54px">
                                <div class="row">
                                  <li class="col-sm-3" style="padding-bottom: 30px">
                                      <a class="thumbnail" id="carousel-selector-0">
                                        <img src="http://placehold.it/170x170">
                                      </a>
                                  </li>
                                  <li class="col-sm-3" style="padding-bottom: 30px">
                                      <a class="thumbnail" id="carousel-selector-0">
                                        <img src="http://placehold.it/170x170">
                                      </a>
                                  </li>
                                   <li class="col-sm-3" style="padding-bottom: 30px">
                                      <a class="thumbnail" id="carousel-selector-0">
                                        <img src="http://placehold.it/170x170">
                                      </a>
                                  </li>
                                   <li class="col-sm-3" style="padding-bottom: 30px">
                                      <a class="thumbnail" id="carousel-selector-0">
                                        <img src="http://placehold.it/170x170">
                                      </a>
                                  </li>
                                   <li class="col-sm-3" style="padding-bottom: 30px">
                                      <a class="thumbnail" id="carousel-selector-0">
                                        <img src="http://placehold.it/170x170">
                                      </a>
                                  </li>
                                  <li class="col-sm-3" style="padding-bottom: 30px">
                                      <a class="thumbnail" id="carousel-selector-0">
                                        <img src="http://placehold.it/170x170">
                                      </a>
                                  </li>
                                  <li class="col-sm-3" style="padding-bottom: 30px">
                                      <a class="thumbnail" id="carousel-selector-0">
                                        <img src="http://placehold.it/170x170">
                                      </a>
                                  </li>
                                  <li class="col-sm-3" style="padding-bottom: 30px">
                                      <a class="thumbnail" id="carousel-selector-0">
                                        <img src="http://placehold.it/170x170">
                                      </a>
                                  </li>
                                  <li class="col-sm-3" style="padding-bottom: 30px">
                                      <a class="thumbnail" id="carousel-selector-0">
                                        <img src="http://placehold.it/170x170">
                                      </a>
                                  </li>
                                  <li class="col-sm-3" style="padding-bottom: 30px">
                                      <a class="thumbnail" id="carousel-selector-0">
                                        <img src="http://placehold.it/170x170">
                                      </a>
                                  </li>
                                  <li class="col-sm-3" style="padding-bottom: 30px">
                                      <a class="thumbnail" id="carousel-selector-0">
                                        <img src="http://placehold.it/170x170">
                                      </a>
                                  </li>
                                  <li class="col-sm-3" style="padding-bottom: 30px">
                                      <a class="thumbnail" id="carousel-selector-0">
                                        <img src="http://placehold.it/170x170">
                                      </a>
                                  </li>
                                </div>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 