<% content_for :head do %>
  <meta property="og:url"           content="<%= root_url %>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="The Travel Brief" />
  <meta property="og:description"   content="See what people have to say about the place you want to visit. Interact with community and write tips for others to enjoy their trips the most." />
  <meta property="og:image"         content="http://159.203.18.176/assets/logo.png" />
<% end -%>

<%# stylesheet_link_tag 'home' %>

  <div class="container" style="text-align:center">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 mx-auto ">
        <h1 class="headed-counter margin-80px-top padding-25px-bottom">
          <strong>
            <b>
              <%= @tips_count %>
            </b>
          </strong>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-7 col-lg-5 col-xl-5 mx-auto">
        <div>
          <h1 class="headed-title">
            <strong>Real tips by real people.</strong>
          </h1>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-9 col-xl-8 mx-auto">
        <div>
          <p class="headed-text">
            See what people have to say about the place you want to visit. Interact with community and write tips for others to enjoy
            their trips the most.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6 mx-auto">
        <div class="input-group padding-25px-tb ">
          <input type="text" class="form-control search-engine-style" placeholder="Enter destinations...">
          <span class="input-group-btn">
            <button class="btn btn-default button-search" type="button">
              <span style="color: #fcfcfc">Search</span>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="row" style="text-align: left">
      <div class="col-sm-12 col-md-9 col-lg-7 col-xl-7 mx-auto padding-45px-top">
        <p class="featured-content-p">
          <strong>
            <span class="line-text-bottom">Fe</span>atured content</strong>
        </p>
      </div>
    </div>

    <% @tips.each do |tip| %>
      <%= render partial: "tips/tip_card" , locals: {tip: tip} %>
    <% end %>
    
  <!--   </div> -->

    <!-- Modal 2 log in-->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content modalete2">
          <div>
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" style="color:#dbdbdb;font-size: 46px;">&times;</span>
            </button>
          </div>
          <!--internal modal-->
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="text-holder">
              <h3 style="font-size: 22px; margin: -16px 0 1% 8%">
                <strong>Log in!</strong>
              </h3>
            </div>
            <div class="transparent" style="margin: 20px 99px -21px 55px; font-size: 17px">
              <small>Log in and enjoy this function</small>
            </div>

            <div class="col-md-12" id="div-btn">
              <%=  f.email_field :email, autofocus: true ,placeholder: 'Email', style: 'font-size:19px;border:none;text-decoration:none;padding-left:20px;margin: 0px 0 0 24px;width: 95%;border-bottom: 1px solid #e6e6e6;padding-bottom: 2px;border-width: 1px;', required: true %>
              <br>
              <%=  f.password_field :password, autofocus: true ,placeholder: 'Password', style: 'font-size:19px;border:none;text-decoration:none;padding-left:20px;margin: 0px 0 0 24px;width: 95%;border-bottom: 1px solid #e6e6e6;padding-bottom: 2px;border-width: 1px;margin-top:15px', required: true %>
              <br>
              <div class="transparent ckbx">
                <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <%= button_tag(type: 'submit', class: "btn btn-secondary btn_end", style: 'margin-top: 18px;') do %>Log in
                    <i class="fa fa-long-arrow-right"></i>
                    <% end %>
                </div>
                <div class="col-md-8 transparent textoo">
                  I'm already a member
                  <hr class="hr_end">
                </div>
              </div>
              <div class="row" style="margin-left:0px; display: inline-block;">
                <div class="col-md-12 btn btn-primary btn_end" style="padding: 7px 5px 8px 13px;display: inline-flex;">
                  <div>
                    <i class="fa fa-facebook-square fa-2x social col-md-465"></i>
                  </div>
                  <div style="margin-top: 5px">
                    <span style="padding-bottom: 15px; margin: 0 0 0 12px">
                      <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path , {:style=>'color:white;'} %>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          <%end%>
        </div>
      </div>
    </div>

  </div>
