<div class="container" style="padding: 195px;padding-top: 64px;padding-bottom: 12px">
  <div class="row">
    <div class="col-md-12">
      <div style=" text-align: center;">
        <h1 style="color:#ff5130;font-size: 68px;font-family: Arial;padding-bottom: 25px"><strong><b>864'296</b></strong></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div style="text-align: center;">
        <h1 style="color: #484848;font-size: 32px"><strong>Real tips by real by people.</strong></h1>
      </div>
    </div>
  </div>   
  <br>
  <div class="row">
    <div class="col-md-12">
      <div style="text-align: center;">
        <p style="font-size: 16px;color: #484848">
          see what people have to say about the place you want to visit. Interact with community and write tips for others to enjoy their the most.
        </p>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-12" style="padding-right: 102px;padding-left: 106px;">
      <div class="input-group" style="padding:32px 0 7% 0">
        <input type="text" class="form-control" style="background-color: #f7f7f7;;border: none;border-radius: 1px;padding-top: 8px;padding-bottom: 8px" placeholder="Enter destinations...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" style="padding-left: 37px;padding-right: 37px;background-color: #121343;border: none;border-radius: 1px"><span style="color: #fcfcfc">Search</span></button>
        </span>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-12" style="padding-top: 55px;padding-left: 54px">
      <p style="font-size: 17px;color: #484848;margin-bottom: 10px"><strong>Feautured content</strong></p>
      <hr width="18px" align="left" style="margin-top: 0px">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="padding-left: 56px;padding-right: 52px;padding-top: 12px;padding-bottom: 12px">
      <div class="col-md-12" style="border-style: solid;border-color: #ececec;border-width: 1px;border-radius: 2px;padding-left: 0px;padding-right: 0px;">
        <div class="row" style="margin-left: 0px;margin-right: 0px">
          <div class="col-md-1" style="padding-left: 17px;padding-top: 28px;">
            <%= image_tag "fotoperfil.png" %>
          </div>
          <div class="col-md-6" style="padding-left: 25px;padding-right: 0px;">
            <div class="row" style="padding: 0px;margin: 0px">
              <p style="font-size: 11px;color: #484848;padding-right: 0px;padding-top: 31px;margin: 0px"><b>Paolo Sabatella</b></p>
              <i class="fa fa-circle" style="font-size: 6px;padding-top: 37px;color: #b8b8b8;padding-left: 16px;padding-right: 16px"></i>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 0px;padding-top: 31px;margin: 0px">32 countries visited</p>
            </div>
            <div class="row" style="padding: 0px;margin: 0px">
              <p style="font-size: 12px;color: #b7b7b7;padding-right: 0px;padding-top: 3px;margin: 0px">Visited there in July 2017 and did tons of research</p>
            </div>
            <div class="row" style="padding: 0px;margin: 0px">
              <p style="font-size: 12px;color: #b7b7b7;padding-right: 0px;padding-top: 5px">Sep 23</p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row pull-right" style="padding-top: 31px;padding-right: 0px">
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 20px">65.8k views</p>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 20px">127<i class="fa fa-comment-o" style="color: #22f6f5;padding-left: 6px;"></i></p>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 20px">13.4k<i class="fa fa-sign-language" style="color: #905c2e;padding-left: 6px"></i></p>
              <i class="fa fa-bookmark-o" style="color: #ffc036;padding-right: 20px"></i>
              <i class="fa fa-flag-o " style="color: #ff0f42;padding-right: 20px"></i>
            </div> 
          </div>
        </div>
        <div class="row" style="margin-left: 0px;margin-right: 0px">
          <div class="col-md-12">
            <div class="row">
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 15px;padding-left: 21px">Avoid crowds</p>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 15px">Off the beaten path</p>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 15px">Non-touristy</p>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding-left: 21px">
                <hr width="20px" size="30" align="left" style="margin-top: 0px;height: 5px;padding-left: 21px;">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding-left: 21px">
                <h1 style="color: #121343;font-size: 24px"><strong>Go to Jinshanling section of the Great Wall to Avoid Crows</strong></h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding-left: 21px">
                <p style="color: #b8b8b8;font-size: 15px">TL;DR</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding-left: 31px;padding-bottom: 12px">
                <p style="color: #9c9c9c;font-size: 16px"><i class="fa fa-circle" style="font-size: 8px;padding-right: 12px"></i>People usually go to Badaling, but it's really crowded</p>
                <p style="color: #9c9c9c;font-size: 16px"><i class="fa fa-circle" style="font-size: 8px;padding-right: 12px"></i>Jinshanling is less crowded.It'll take the whole day to visit</p>
                <p style="color: #9c9c9c;font-size: 16px"><i class="fa fa-circle" style="font-size: 8px;padding-right: 12px"></i>Take the direct tourist bus from Dongz <span style="color: #49bff8">... continue reading</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="padding-left: 56px;padding-right: 52px;padding-top: 12px;padding-bottom: 12px">
      <div class="col-md-12" style="border-style: solid;border-color: #ececec;border-width: 1px;border-radius: 2px;padding-left: 0px;padding-right: 0px;">
        <div class="row" style="margin-left: 0px;margin-right: 0px">
          <div class="col-md-1" style="padding-left: 17px;padding-top: 28px;">
            <%= image_tag "fotoperfil.png" %>
          </div>
          <div class="col-md-6" style="padding-left: 25px;padding-right: 0px;">
            <div class="row" style="padding: 0px;margin: 0px">
              <p style="font-size: 11px;color: #484848;padding-right: 0px;padding-top: 31px;margin: 0px"><b>Paolo Sabatella</b></p>
              <i class="fa fa-circle" style="font-size: 6px;padding-top: 37px;color: #b8b8b8;padding-left: 16px;padding-right: 16px"></i>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 0px;padding-top: 31px;margin: 0px">32 countries visited</p>
            </div>
            <div class="row" style="padding: 0px;margin: 0px">
              <p style="font-size: 12px;color: #b7b7b7;padding-right: 0px;padding-top: 3px;margin: 0px">Visited there in July 2017 and did tons of research</p>
            </div>
            <div class="row" style="padding: 0px;margin: 0px">
              <p style="font-size: 12px;color: #b7b7b7;padding-right: 0px;padding-top: 5px">Sep 23</p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row pull-right" style="padding-top: 31px;padding-right: 0px">
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 20px">65.8k views</p>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 20px">127<i class="fa fa-comment-o" style="color: #22f6f5;padding-left: 6px;"></i></p>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 20px">13.4k<i class="fa fa-sign-language" style="color: #905c2e;padding-left: 6px"></i></p>
              <i class="fa fa-bookmark-o" style="color: #ffc036;padding-right: 20px"></i>
              <i class="fa fa-flag-o " style="color: #ff0f42;padding-right: 20px"></i>
            </div> 
          </div>
        </div>
        <div class="row" style="margin-left: 0px;margin-right: 0px">
          <div class="col-md-12">
            <div class="row">
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 15px;padding-left: 21px">Avoid crowds</p>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 15px">Off the beaten path</p>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 15px">Non-touristy</p>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding-left: 21px">
                <hr width="20px" size="30" align="left" style="margin-top: 0px;height: 5px;padding-left: 21px;">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding-left: 21px">
                <h1 style="color: #121343;font-size: 24px"><strong>Go to Jinshanling section of the Great Wall to Avoid Crows</strong></h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding-left: 21px">
                <p style="color: #b8b8b8;font-size: 15px">TL;DR</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding-left: 31px;padding-bottom: 12px">
                <p style="color: #9c9c9c;font-size: 16px"><i class="fa fa-circle" style="font-size: 8px;padding-right: 12px"></i>People usually go to Badaling, but it's really crowded</p>
                <p style="color: #9c9c9c;font-size: 16px"><i class="fa fa-circle" style="font-size: 8px;padding-right: 12px"></i>Jinshanling is less crowded.It'll take the whole day to visit</p>
                <p style="color: #9c9c9c;font-size: 16px"><i class="fa fa-circle" style="font-size: 8px;padding-right: 12px"></i>Take the direct tourist bus from Dongz <span style="color: #49bff8">... continue reading</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="padding-left: 56px;padding-right: 52px;padding-top: 12px;padding-bottom: 12px">
      <div class="col-md-12" style="border-style: solid;border-color: #ececec;border-width: 1px;border-radius: 2px;padding-left: 0px;padding-right: 0px;">
        <div class="row" style="margin-left: 0px;margin-right: 0px">
          <div class="col-md-1" style="padding-left: 17px;padding-top: 28px;">
            <%= image_tag "fotoperfil.png" %>
          </div>
          <div class="col-md-6" style="padding-left: 25px;padding-right: 0px;">
            <div class="row" style="padding: 0px;margin: 0px">
              <p style="font-size: 11px;color: #484848;padding-right: 0px;padding-top: 31px;margin: 0px"><b>Paolo Sabatella</b></p>
              <i class="fa fa-circle" style="font-size: 6px;padding-top: 37px;color: #b8b8b8;padding-left: 16px;padding-right: 16px"></i>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 0px;padding-top: 31px;margin: 0px">32 countries visited</p>
            </div>
            <div class="row" style="padding: 0px;margin: 0px">
              <p style="font-size: 12px;color: #b7b7b7;padding-right: 0px;padding-top: 3px;margin: 0px">Visited there in July 2017 and did tons of research</p>
            </div>
            <div class="row" style="padding: 0px;margin: 0px">
              <p style="font-size: 12px;color: #b7b7b7;padding-right: 0px;padding-top: 5px">Sep 23</p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row pull-right" style="padding-top: 31px;padding-right: 0px">
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 20px">65.8k views</p>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 20px">127<i class="fa fa-comment-o" style="color: #22f6f5;padding-left: 6px;"></i></p>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 20px">13.4k<i class="fa fa-sign-language" style="color: #905c2e;padding-left: 6px"></i></p>
              <i class="fa fa-bookmark-o" style="color: #ffc036;padding-right: 20px"></i>
              <i class="fa fa-flag-o " style="color: #ff0f42;padding-right: 20px"></i>
            </div> 
          </div>
        </div>
        <div class="row" style="margin-left: 0px;margin-right: 0px">
          <div class="col-md-12">
            <div class="row">
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 15px;padding-left: 21px">Avoid crowds</p>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 15px">Off the beaten path</p>
              <p style="font-size: 11px;color: #b8b8b8;padding-right: 15px">Non-touristy</p>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding-left: 21px">
                <hr width="20px" size="30" align="left" style="margin-top: 0px;height: 5px;padding-left: 21px;">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding-left: 21px">
                <h1 style="color: #121343;font-size: 24px"><strong>Go to Jinshanling section of the Great Wall to Avoid Crows</strong></h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding-left: 21px">
                <p style="color: #b8b8b8;font-size: 15px">TL;DR</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" style="padding-left: 31px;padding-bottom: 12px">
                <p style="color: #9c9c9c;font-size: 16px"><i class="fa fa-circle" style="font-size: 8px;padding-right: 12px"></i>People usually go to Badaling, but it's really crowded</p>
                <p style="color: #9c9c9c;font-size: 16px"><i class="fa fa-circle" style="font-size: 8px;padding-right: 12px"></i>Jinshanling is less crowded.It'll take the whole day to visit</p>
                <p style="color: #9c9c9c;font-size: 16px"><i class="fa fa-circle" style="font-size: 8px;padding-right: 12px"></i>Take the direct tourist bus from Dongz <span style="color: #49bff8">... continue reading</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  