<%= form_for([:admin,@country]) do |f| %>

<table class="table">

    <tr>
        <td width="30%"><%= f.label :name, "Name" %></td>
        <td><%= f.text_field :name ,class: 'form-control' %></td>
    </tr>
    <tr>
        <td width="30%"><%= f.label :slug, "Slug" %></td>
        <td><%= f.text_field :slug ,class: 'form-control' %></td>
    </tr>
    <tr>
        <td><%= f.label :status, "Status" %></td>
        <td><%= f.select :status, options_for_select(Country.get_status_for_select, @country.status), {:include_blank => "Select status"},{:class => "form-control", :required => true} %></td>
    </tr>
    
</table>

<div class="row">
    <div class="col-md-12 text-right">
        <%= link_to "Back to the list of countries", admin_countries_path, class: 'btn btn-default' %>
        <%= link_to "Cancel", admin_country_path(@country), class: 'btn btn-warning' if !@country.id.nil? %>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>

<% end -%>