<div class="row">
    <div class="col-md-12">
        <h1>
            List of countries
            <%= link_to "Create country", new_admin_country_path, class: 'btn btn-primary' %>
        </h1>
        <%= notice.html_safe if notice %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% @countries.each do |country| %>
                <tr>
                    <td><%= country.id %></td>
                    <td><%= country.name %></td> 
                    <td><%= country.slug %></td>
                    <td><%= country.status_name %></td>
                    <td><%= link_to "Details", admin_country_path(country), class: 'btn btn-primary btn-xs' %></td>
                </tr>
                <% end -%>
            </tbody>
        </table>
    </div>
</div>