<div class="row">
    <div class="col-md-12">
        <h1>
             Details
            <%= link_to 'Back', admin_countries_path, class: 'btn btn-default' %>
            <%= link_to "Edit", edit_admin_country_path(@country), class: 'btn btn-primary' %>            
            <%= link_to "Delete", admin_country_path(@country), class: 'btn btn-danger', data: {method: 'DELETE', confirm: 'are you sure?'} %>
        </h1>
        <%= notice.html_safe if notice %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <td><b>id</b></td>
                <td><%= @country.id %></td>
            </tr>
            <tr>
                <td><b>Name:</b></td>
                <td><%= @country.name %></td>
            </tr>  
            <tr>
                <td><b>Slug:</b></td>
                <td><%= @country.slug %></td>
            </tr>
            <tr>
                <td><b>Status:</b></td>
                <td><%= @country.status_name %></td>
            </tr>
        </table>
    </div>
</div>