<%= form_for([:admin,@city]) do |f| %>

<table class="table">

    <tr>
        <td width="30%"><%= f.label :name, "Name" %></td>
        <td><%= f.text_field :name ,class: 'form-control' %></td>
    </tr>
    <tr>
        <td width="30%"><%= f.label :slug, "Slug" %></td>
        <td><%= f.text_field :slug ,class: 'form-control' %></td>
    </tr>
    <tr>
        <td><%= f.label :country_id,"Country" %></td>
        <td><%= f.collection_select :country_id, Country.all, :id, :name,  {prompt: "Select country"}, {class: "form-control" }%></td> 
    </tr>
    <tr>
        <td><%= f.label :status, "Status" %></td>
        <td><%= f.select :status, options_for_select(City.get_status_for_select, @city.status), {:include_blank => "Select status"},{:class => "form-control"} %></td>
    </tr>
    
</table>

<div class="row">
    <div class="col-md-12 text-right">
        <%= link_to "Back to the list of cities", admin_cities_path, class: 'btn btn-default' %>
        <%= link_to "Cancel", admin_city_path(@city), class: 'btn btn-warning' if !@city.id.nil? %>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>

<% end -%>