<div class="row">
    <div class="col-md-12">
        <h1>
            List of cities
            <%= link_to "Create city", new_admin_city_path, class: 'btn btn-primary' %>
        </h1>
        <%= notice.html_safe if notice %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Country</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% @cities.each do |city| %>
                <tr>
                    <td><%= city.id %></td>
                    <td><%= city.name %></td> 
                    <td><%= city.slug %></td>
                    <td><%= city.country.name %></td>
                    <td><%= city.status_name %></td>
                    <td><%= link_to "Details", admin_city_path(city), class: 'btn btn-primary btn-xs' %></td>
                </tr>
                <% end -%>
            </tbody>
        </table>
    </div>
</div>