<div class="row">
    <div class="col-md-12">
        <h1>
             Details
            <%= link_to 'Back', admin_cities_path, class: 'btn btn-default' %>
            <%= link_to "Edit", edit_admin_city_path(@city), class: 'btn btn-primary' %>            
            <%= link_to "Delete", admin_city_path(@city), class: 'btn btn-danger', data: {method: 'DELETE', confirm: 'are you sure?'} %>
        </h1>
        <%= notice.html_safe if notice %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <td><b>Id</b></td>
                <td><%= @city.id %></td>
            </tr>
            <tr>
                <td><b>Name:</b></td>
                <td><%= @city.name %></td>
            </tr>
            <tr>
                <td><b>Slug:</b></td>
                <td><%= @city.slug %></td>
            </tr>
            <tr>
                <td><b>Country:</b></td>
                <td><%= @city.country.name %></td>
            </tr>   
            <tr>
                <td><b>Status:</b></td>
                <td><%= @city.status_name %></td>
            </tr>
        </table>
    </div>
</div>