<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
 sing up modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modalete">
      <div>
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color:#dbdbdb;font-size: 46px;">&times;</span>
        </button>
      </div>

      <!--internal modal-->
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div class="text-holder">
          <h3 style="font-size: 22px; margin: -16px 0 1% 8%"><strong>Sing up!</strong></h3>
        </div>
        <div class="trasparent " style="margin: 20px 99px -21px 55px; font-size: 17px">
        <small> Welcome back, eveyone is waiting for your tips!   Welcome back, eveyone is waiting for your tips!Welcome back, eveyone is waiting for your tips!Welcome </small>
        </div>

        <div class="col-md-12" id="div-btn">
        
           <%= f.text_field :username, autofocus: true,placeholder: 'Name',class:'form-control txt_name' %>
          <hr>
          <br>
          <%=  f.email_field :email, autofocus: true ,placeholder: 'E-mail',class:'form-control txt_name' %>
          <hr>   
          <p class="trasparent title_text" ></p>
           <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%=  f.password_field :password, autocomplete: "off", autofocus: true ,placeholder: 'Password',class:'form-control txt_name'%>
            <hr>
            <p class="trasparent title_text" ></p>
            <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: 'Confirm Password',class:'form-control txt_name' %>
            <hr>

          <div class="checkbox">
            <label class="trasparent ckbx"><input type="checkbox" value="">  You have read and accept the <strong style="color:#616161">Terms and Conditions</strong>
            </label>

            <div class="row">
              <div class="col-md-4"> 
                <div class="col-md-4"><%= button_tag(type: 'submit', class: "btn btn-secondary btn_end", style: 'margin: 18px 0 0 9px;') do %>Sing up 
                  <i class="fa fa-long-arrow-right"></i>
                  <% end %>
                </div>
              </div>
              <div class="col-md-8 trasparent textoo">I'm already a member<hr class="hr_end"></div>
            </div>
         
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-primary btn_end" id="social-fb" style="display: inline-block;height: 55%;margin-left: 24px;" >
                  <div class="row">
                    <div class="col-md-1" style="margin-top: -5px"><i class="fa fa-facebook-square fa-2x social col-md-465"></i></div>
                    <div class="col-md-9" style="margin: 1px 0 0 6px;height: 26px;"><p><span style="padding-bottom: 15px;">Sing up! With Facebook</span></p>
                    </div>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <!--modaaal-->  
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginmodal">
 log in modal
</button>
<!-- Modal 2 log in-->
  <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modalete2">
        <div>
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="color:#dbdbdb;font-size: 46px;">&times;</span>
          </button>
        </div>

        <!--internal modal-->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="text-holder">
            <h3 style="font-size: 22px; margin: -16px 0 1% 8%"><strong>Log in!</strong></h3>
          </div>
          <div class="trasparent " style="margin: 20px 99px -21px 55px; font-size: 17px">
            <small> Welcome back, eveyone is waiting for your tips! </small>
          </div>

          <div class="col-md-12" id="div-btn">
            <%=  f.email_field :email, autofocus: true ,placeholder: 'Email', style: 'font-size:19px;border:none;text-decoration:none;padding-left:20px' %>
            <hr>
            <br>
            <%=  f.password_field :password, autofocus: true ,placeholder: 'Password', style: 'font-size:19px;border:none;text-decoration:none;padding-left:20px' %>
            <hr>
            <br>
            <% if devise_mapping.rememberable? -%>
              <div class="trasparent ckbx">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="row">
              <div class="col-md-4">
                <%= button_tag(type: 'submit', class: "btn btn-secondary btn_end", style: 'margin-top: 18px;') do %>Log in 
                  <i class="fa fa-long-arrow-right"></i>
                <% end %>
              </div>
              <div class="col-md-8 trasparent textoo">
                I'm already a member<hr class="hr_end">
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn_end" id="social-fb" style="display: inline-block;height: 55%;margin-left: 39px;">
                    <div class="row">
                      <div class="col-md-1" style="margin-top: -5px">
                        <i class="fa fa-facebook-square fa-2x social col-md-465"></i></div>
                      <div class="col-md-9" style="margin: 1px 0 0 6px;height: 26px;">
                        <p><span style="padding-bottom: 15px;">Sing up! With Facebook</span></p>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        <%end%>
        <!--modaaal-->        
      </div>
    </div>
  </div>
</div>


<style type="text/css">
.textoo{
      margin: 25px 0 0 0;
      font-size: 14px
}
.hr_end{
background-color: #9b9b9b;
margin: 0 182px 0 0;
}

.btn-primary{
      background-color: #3b5998
}
.btn_end{

  margin: 26px 0 0 24px;
}
.modalete{
  height: 664px;
  width: 672px;
}
.modalete2{
  height: 525px;
  width: 672px;
}
.close{
  margin: 20px 29px 0 0;
}
.txt_name{
  height: 48px;
  margin: -5px 0 0 11px;
  border-color: transparent; 
  width: 95%;
  position: relative;
}
.bs-example {
    height: 728px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    width: 674px;
}
.jumbotron {
    padding: 0 0;
    background-color: #5858FA;
    color: white;
}
.trasparent{
  color: #9ca4ab;
}
.color_br{
  color: #9b9b9b;
}

#div-btn{
    border-bottom-color: black;
    width: 77%;
    margin-left: 55px;
        margin: 56px 0 0 15px;
}
  hr{
   border: -1 solid #9b9b9b;
   
   margin: 0 0 0 24px
  }
  .title_text{
    margin: 13px 0 -0 24px;font-size: 0.8em;
  }
  .ckbx{
        font-size: 12px;
    margin: 7% 0 0 24px;
  }
</style>

<script type="text/javascript">
  $(".txt_name").css('border-color:trasparent')
</script>
<script type="text/javascript">
$(document).ready(function(){
 $(".txt_name").click(function() {
   $(".txt_name").css('font-size':'1.3em','border-color':'trasparent'});
   });
 
});
</script>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 