<%= form_for([:admin,@category]) do |f| %>

<table class="table">

    <tr>
        <td width="30%"><%= f.label :name, "Name" %></td>
        <td><%= f.text_field :name ,class: 'form-control' %></td>
    </tr>    
    <tr>
        <td width="30%"><%= f.label :slug, "Slug" %></td>
        <td><%= f.text_field :slug ,class: 'form-control' %></td>
    </tr>    
       
</table>

<div class="row">
    <div class="col-md-12 text-right">
        <%= link_to "Back to the list", admin_categories_path, class: 'btn btn-default' %>
        <%= link_to "Cancel", admin_category_path(@category), class: 'btn btn-warning' if !@category.id.nil? %>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>

<% end -%>