<div class="row">
    <div class="col-md-12">
        <h1>
            List of categories
            <%= link_to "Create category", new_admin_category_path, class: 'btn btn-primary' %>
        </h1>
        <%= notice.html_safe if notice %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% @categories.each do |category| %>
                <tr>
                    <td><%= category.id %></td>
                    <td><%= category.name %></td> 
                    <td><%= category.slug %></td> 
                    <td><%= render_badge(category.badge_color,category.status_name) %></td>                   
                    <td><%= link_to "Details", admin_category_path(category), class: 'btn btn-primary btn-xs' %></td>
                </tr>
                <% end -%>
            </tbody>
        </table>
    </div>
</div>