<h1>Create category</h1>
<%= notice.html_safe if notice %>
<ul>
    <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end -%>
</ul>
<%= render 'form' %>
<div style="clear: both;"></div>