<div class="row">
    <div class="col-md-12">
        <h1>
             Details
            <%= link_to 'Back to the list', admin_categories_path, class: 'btn btn-default' %>
            <%= link_to "Edit", edit_admin_category_path(@category), class: 'btn btn-primary' %>            
            <%= link_to "Delete", admin_category_path(@category), class: 'btn btn-danger', data: {method: 'DELETE', confirm: 'are you sure?'} %>
        </h1>
        <%= notice.html_safe if notice %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            
            <tr>
                <td><b>Category:</b></td>
                <td><%= @category.name %></td>
            </tr> 
            <tr>
                <td><b>Slug:</b></td>
                <td><%= @category.slug %></td>
            </tr> 
            
        </table>
    </div>
</div>