<div class="row">
    <div class="col-md-12">
        <h1>
            Tips list
        </h1>
        <%= notice.html_safe if notice %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>                    
                    <th>Attraction</th>
                    <th>Created at</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% @tips.each do |tip| %>
                <tr>
                    <td><%= tip.id %></td>
                    <td><%= tip.user.username %></td>
                    <td><%= link_to tip.entity.name, destination_path(type: tip.entity_type_name, id: tip.entity_id) unless tip.entity.nil? %></td>
                    <td><%= tip.created_at %></td>
                    <td><%= tip.status_name %></td>
                    <td><%= link_to "Details", admin_tip_path(tip), class: 'btn btn-primary btn-xs' %></td>
                </tr>
                <% end -%>
            </tbody>
        </table>
    </div>
</div>