<h1>
    Tip details 
    <%= link_to "Back to tips list", admin_tips_path, class: 'btn btn-default' %>
    <%= link_to "Edit", edit_admin_tip_path(@tip), class: 'btn btn-primary' %>
</h1>

<table class="table">
    <tr>
        <td><b>Username:</b></td>
        <td><%= link_to @tip.user.username, admin_user_path(@tip.user) %></td>
    </tr>
    <tr>
        <td><b>Attraction:</b></td>
        <td><%= link_to @tip.entity.name, destination_path(type: @tip.entity_type_name, id: @tip.entity_id) %></td>
    </tr>
    <tr>
        <td><b>Subject:</b></td>
        <td><%= @tip.subject %></td>
    </tr>
    <tr>
        <td><b>Body:</b></td>
        <td><%= @tip.body %></td>
    </tr>
    <tr>
        <td><b>Categories:</b></td>
        <td><%= @tip.categories.map { |e| e.name }.join(', ') %></td>
    </tr>
    <tr>
        <td><b>Total votes:</b></td>
        <td><%= @tip.tip_votes.count %></td>
    </tr>
    <tr>
        <td><b>Created at:</b></td>
        <td><%= @tip.created_at %></td>
    </tr>
</table>

