<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <td><b>Id</b></td>
                <td><%= @attraction.id %></td>
            </tr>
            <tr>
                <td><b>Attraction:</b></td>
                <td><%= @attraction.name %></td>
            </tr> 
            <% if @attraction.has_location? %>
            <tr>
                <td><b>Location:</b></td>
                <td><%= @attraction.location_name %></td>
            </tr>
            <% end -%>
            
        </table>
    </div>
</div>