<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <td><b>Id</b></td>
                <td><%= @city.id %></td>
            </tr>
            <tr>
                <td><b>Name:</b></td>
                <td><%= @city.name %></td>
            </tr>
            <tr>
                <td><b>Country:</b></td>
                <td><%= @city.country.name %></td>
            </tr>
        </table>
    </div>
</div>