<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <td><b>Id</b></td>
                <td><%= @country.id %></td>
            </tr>
            <tr>
                <td><b>Name:</b></td>
                <td><%= @country.name %></td>
            </tr> 
        </table>
    </div>
</div>