<% if @response[:success] == true %>
	alert("Destination created successfuly");
	$("#ModalCreateDestination").modal('hide');
<% else -%>
	alert("Error while creating destination: \n <%= @response[:message] %>")
<% end -%>