<style type="text/css">
  .nopadding {
    padding-left: 0px;
    padding-right: 0px;
  }
  .nomargin {
    margin-left: 0px;
    margin-right: 0px;
  }
  .active > .menup1 {
    color: #484848 !important;
  }
  .active > .menuhr1 {
    border-color: #c232ff !important;
  }
  .active > .menup2 {
    color: #484848 !important;
  }
  .active > .menuhr2 {
    border-color: #c232ff !important;
  }
  .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
  }
  .thumbnail {
    padding: 0;
  }
  .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
  }
  #tagg {
    border: .5px solid #c7c7c7;
    border-radius: 3px;
    color: #a7a7a7;
  }
  #tags{
    border: .5px solid #c7c7c7;
    border-radius: 5px;
    color: #a7a7a7; 
    font-size: 11px;
    height: 23px;
    padding: 2px 3px 2px 2px;
    margin: 0 0px 0 10px;
    }
  hr{
    margin: 0 0 0 0;
  }
</style>
<div class="container" style="padding-left: 99px;padding-right: 36px;margin: 0 0 50px 70px;">
  <div class="row">
    <div class="col-md-12">
      <p style="color:#a0a0a0;margin: 32px 0 0 -15px;font-size: 14px;">All results</p>
    </div>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <div class="form-group has-success has-feedback">
      <input class="form-control mr-sm-2" type="search" placeholder="Bosco Gurin" aria-label="Search" style="font-size: 27px;margin: 23px 0 0 -30px;border-color: transparent; color: #4a4a4a; width:56%;">
      <i class="fa fa-search" style="margin: 8px 0 0 -43px;  color: #c3c3c3;font-size: 29px"></i>
      <hr style="margin: -1px 17% 0 -15px;width: 366px;">
    </div>
    <div class="panel " style="">
      <div id="tagg" style="background-color: #56d321;color: white;font-size: 12px;margin: 49px 0 0 133px;height: 25px;width: 85%;
    border-radius: 16px;">  
        <p style="text-align:center;margin: 3px 0 0 10px;">+ Add new destination</p>
      </div>
    </div>
  </form> 
  <div class="row" style="padding-top: 50px">
    <div class="col-md-2">
      <div class="row" style="padding-bottom: 12px">
        <div class="col-md-12" style="padding: 0px;margin: 0px">
          <p style="font-size: 13px;color: #505050;margin-bottom: 5px">Filter</p>
          <hr width="11px" align="left" style="margin-top: 0px;border-color: #4a4a4a">
        </div>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <div class="form-group has-success has-feedback">
          <input class="form-control mr-sm-2 js-example-basic-multiple" type="search" placeholder="Search" aria-label="Search" style="margin:7px 0 0 -16px;padding:5px 10px; border-radius: 2px;background-color: #f2f2f2;font-size: 12px; border-color: transparent; color:#484848; width: 170px;">
          <i class="fa fa-search" style="margin-left: -30px; color: #c3c3c3"></i>
        </div>
      </form>
      <div>
        <div class="panel panel-default" style="">
          <div id="tagg" style="background-color: #c037ff;color:white;font-size: 10px;margin: 19px -11px 0 -15px;height: 25px;">  
            <p style="text-align: left;margin: 3px 0 0 10px;">Tansportation(213)</p>
          </div>
        </div>
      </div>
      <div  style="word-wrap: break-word;width: 184%;margin: 24px 0 0 0px;padding:2px 0 0 0;display: inline-flex;"><!--aaaa-->
       <div id="tags" style="width: auto;margin: 0 0 0 -14px;">Timing(188)</div>
       <div id="tags" style="width: auto;">What to bring(187)</div>
      </div>

      <div  style="word-wrap: break-word;width: 184%;margin: 11px 0 0 0px;padding:2px 0 0 0;display: inline-flex;"><!--aaaa-->
       <div id="tags" style="width: auto;margin: 0 0 0 -14px;">Laws to know(134)</div>
       <div id="tags" style="width: auto;">Scams(129)</div>
       <div id="tags" style="width: auto;">wifi(101)</div>
      </div>
      <div style="color: #a0a0a0;font-size: 12px;margin: 22px 0 32px -14px;">
        <p>See all tags</p>
      </div>
      <div class="panel" style="font-size: 10px;margin: 20px 7px 43px -13px;word-wrap: break-word;width: 182%;    width: 182%;">
       <a data-toggle="tab" style="text-decoration: none">
          <p style="font-size: 15px;color:#c2c2c2;margin-bottom: 5px;">Destination
          <i class="fa fa-angle-down" style="font-size: 16px;float: right;"></i></p>
          <hr width="101%" style="margin-top: 0px;border-color:  #c2c2c2">
        </a>
        <a data-toggle="tab" style="text-decoration: none;padding: 1px;">
          <p style="font-size: 15px;color:#c2c2c2;margin-bottom: 5px;">Categories
          <i class="fa fa-angle-down" style="font-size: 16px;float: right;"></i></p>
          <hr width="101%" style="margin-top: 0px;border-color:  #c2c2c2">
        </a>
      </div>      
      <div class="row">
        <div style="background-color:#d8d8d8;height: 200px;width: 269px;margin: 0 -91px 0 0;text-align: center;">
         <p style="color: #4a4a4a;font-size: 14px;margin: 87px 0 0 0;">*Add goes here*</p>
        </div>
      </div>                              
    </div>
    <div class="col-md-10" style="padding-left: 138px;">
      <div class="row" style="padding-bottom: 16px;">
        <div class="col-md-12 nopadding nomargin">
          <ul class="nav nav-tabs active" style="border-bottom: 0px">
            <li class="active" style="text-decoration-style: none;">
              <a data-toggle="tab" href="#home" class="active" style="text-decoration: none">
                <p class="menup1" style="font-size: 13px;color:  #9c9c9c;margin-bottom: 5px;">Tips</p>
                <hr class="menuhr1" width="11px" align="left" style="margin-top: 0px;border-color:  #9c9c9c">
              </a>
            </li>
            <li style="padding-left: 33px">
              <a data-toggle="tab" href="#menu1" style="text-decoration: none">
                <p class="menup2" style="font-size: 13px;color:  #9c9c9c;margin-bottom: 5px;">Photos</p>
                <hr class="menuhr2" width="11px" align="left" style="margin-top: 0px;border-color:  #9c9c9c">
              </a>
            </li>
             <li style="padding-left: 586px">
          
              <a data-toggle="tab" href="#menu1" style="text-decoration: none">
                <p class="menup2" style="font-size: 13px;color:  #9c9c9c;margin-bottom: 5px;">Sort by
                <i class="fa fa-angle-down" style="font-size: 16px;"></i></p>
                <hr class="menuhr2" width="101%" style="margin-top: 0px;border-color:  #9c9c9c">
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="home" class="tab-pane active">
              <div class="row">
                <div class="col-md-12" style="padding-left: 14px;padding-right: 0;margin-top: 19px;">
                  <div class="col-md-12" style="border-style: solid;border-color: #ececec;border-width: 1px;border-radius: 2px;padding-left: 0px;padding-right: 0px;">
                    <div class="row" style="margin-left: 0px;margin-right: 0px">
                      <div class="col-md-1" style="padding-left: 17px;padding-top: 28px;">
                        <%= image_tag "fotoperfil.png" %>
                      </div>
                      <div class="col-md-6" style="padding-left: 25px;padding-right: 0px;">
                        <div class="row" style="padding: 0px;margin: 0px">
                          <p style="font-size: 11px;color: #484848;padding-right: 0px;padding-top: 31px;margin: 0px"><b>Paolo Sabatella</b></p>
                          <i class="fa fa-circle" style="font-size: 6px;padding-top: 37px;color: #b8b8b8;padding-left: 16px;padding-right: 16px"></i>
                          <p style="font-size: 11px;color: #b8b8b8;padding-right: 0px;padding-top: 31px;margin: 0px">32 countries visited</p>
                        </div>
                        <div class="row" style="padding: 0px;margin: 0px">
                          <p style="font-size: 12px;color: #b7b7b7;padding-right: 0px;padding-top: 3px;margin: 0px">Visited there in July 2017 and did tons of research</p>
                        </div>
                        <div class="row" style="padding: 0px;margin: 0px">
                          <p style="font-size: 12px;color: #b7b7b7;padding-right: 0px;padding-top: 5px">Sep 23</p>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="row pull-right" style="padding-top: 31px;padding-right: 0px">
                          <p style="font-size: 11px;color: #b8b8b8;padding-right: 20px">65.8k views</p>
                          <p style="font-size: 11px;color: #b8b8b8;padding-right: 20px">127<i class="fa fa-comment-o" style="color: #22f6f5;padding-left: 6px;"></i></p>
                          <p style="font-size: 11px;color: #b8b8b8;padding-right: 20px">13.4k<i class="fa fa-sign-language" style="color: #905c2e;padding-left: 6px"></i></p>
                          <i class="fa fa-bookmark-o" style="color: #ffc036;padding-right: 20px"></i>
                          <i class="fa fa-flag-o " style="color: #ff0f42;padding-right: 20px"></i>
                        </div> 
                      </div>
                    </div>
                    <div class="row" style="margin-left: 0px;margin-right: 0px">
                      <div class="col-md-12">
                        <div class="row">
                          <p style="font-size: 11px;color: #b8b8b8;padding-right: 15px;padding-left: 21px">Avoid crowds</p>
                          <p style="font-size: 11px;color: #b8b8b8;padding-right: 15px">Off the beaten path</p>
                          <p style="font-size: 11px;color: #b8b8b8;padding-right: 15px">Non-touristy</p>
                        </div>
                        <div class="row">
                          <div class="col-md-12" style="padding-left: 21px">
                            <hr width="20px" size="30" align="left" style="margin-top: 0px;height: 5px;padding-left: 21px;">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12" style="padding-left: 21px">
                            <h1 style="color: #121343;font-size: 24px"><strong>Go to Jinshanling section of the Great Wall to Avoid Crows</strong></h1>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12" style="padding-left: 21px">
                            <p style="color: #b8b8b8;font-size: 15px">TL;DR</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12" style="padding-left: 31px;padding-bottom: 12px">
                            <p style="color: #9c9c9c;font-size: 16px"><i class="fa fa-circle" style="font-size: 8px;padding-right: 10px"></i>People usually go to Badaling, but it's really crowded</p>
                            <p style="color: #9c9c9c;font-size: 16px"><i class="fa fa-circle" style="font-size: 8px;padding-right: 10px"></i>Jinshanling is less crowded.It'll take the whole day to visit</p>
                            <p style="color: #9c9c9c;font-size: 16px"><i class="fa fa-circle" style="font-size: 8px;padding-right: 10px"></i>Take the direct tourist bus from Dongz <span style="color: #49bff8">... continue reading</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
            <div id="menu1" class="tab-pane">
                <div id="main_area">
                    <div class="row">
                        <div class="col-sm-12" style="padding-left: 0px" id="slider-thumbs">
                            <ul class="hide-bullets" style="padding-left: 54px">
                              <div class="row">
                                <li class="col-sm-3" style="padding-bottom: 30px">
                                    <a class="thumbnail" id="carousel-selector-0">
                                      <img src="http://placehold.it/170x170">
                                    </a>
                                </li>
                                <li class="col-sm-3" style="padding-bottom: 30px">
                                    <a class="thumbnail" id="carousel-selector-0">
                                      <img src="http://placehold.it/170x170">
                                    </a>
                                </li>
                                 <li class="col-sm-3" style="padding-bottom: 30px">
                                    <a class="thumbnail" id="carousel-selector-0">
                                      <img src="http://placehold.it/170x170">
                                    </a>
                                </li>
                                 <li class="col-sm-3" style="padding-bottom: 30px">
                                    <a class="thumbnail" id="carousel-selector-0">
                                      <img src="http://placehold.it/170x170">
                                    </a>
                                </li>
                                 <li class="col-sm-3" style="padding-bottom: 30px">
                                    <a class="thumbnail" id="carousel-selector-0">
                                      <img src="http://placehold.it/170x170">
                                    </a>
                                </li>
                                <li class="col-sm-3" style="padding-bottom: 30px">
                                    <a class="thumbnail" id="carousel-selector-0">
                                      <img src="http://placehold.it/170x170">
                                    </a>
                                </li>
                                <li class="col-sm-3" style="padding-bottom: 30px">
                                    <a class="thumbnail" id="carousel-selector-0">
                                      <img src="http://placehold.it/170x170">
                                    </a>
                                </li>
                                <li class="col-sm-3" style="padding-bottom: 30px">
                                    <a class="thumbnail" id="carousel-selector-0">
                                      <img src="http://placehold.it/170x170">
                                    </a>
                                </li>
                                <li class="col-sm-3" style="padding-bottom: 30px">
                                    <a class="thumbnail" id="carousel-selector-0">
                                      <img src="http://placehold.it/170x170">
                                    </a>
                                </li>
                                <li class="col-sm-3" style="padding-bottom: 30px">
                                    <a class="thumbnail" id="carousel-selector-0">
                                      <img src="http://placehold.it/170x170">
                                    </a>
                                </li>
                                <li class="col-sm-3" style="padding-bottom: 30px">
                                    <a class="thumbnail" id="carousel-selector-0">
                                      <img src="http://placehold.it/170x170">
                                    </a>
                                </li>
                                <li class="col-sm-3" style="padding-bottom: 30px">
                                    <a class="thumbnail" id="carousel-selector-0">
                                      <img src="http://placehold.it/170x170">
                                    </a>
                                </li>
                              </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $( document ).ready(function() {

    $(function() {
      var p = $(".nav li"); 
      p.click(function() {
        p.removeClass("active");
        $(this).addClass("active");
      });
    }); 

    $('#myCarousel').carousel({
      interval: 5000
    });
    $('[id^=carousel-selector-]').click(function () {
    var id_selector = $(this).attr("id");
      try {
          var id = /-(\d+)$/.exec(id_selector)[1];
          console.log(id_selector, id);
          jQuery('#myCarousel').carousel(parseInt(id));
      } catch (e) {
          console.log('Regex failed!', e);
      }
    });
    $('#myCarousel').on('slid.bs.carousel', function (e) {
             var id = $('.item.active').data('slide-number');
            $('#carousel-text').html($('#slide-content-'+id).html());
    });

  });
</script>

 