<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>  
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <% @destinations.each do |destination| %>
                <tr>
                    <td><%= destination[:name] %></td>
                    <td><%= destination[:type].capitalize %></td>
                    <td><%= link_to "Details", destination_path(id: destination[:id], type: destination[:type]), class: 'btn btn-primary' %></td>
                </tr>
            <% end -%>
            </tbody>
        </table>
    </div>
</div>