<style type="text/css">
  .nopadding {
    padding-left: 0px;
    padding-right: 0px;
  }
  .nomargin {
    margin-left: 0px;
    margin-right: 0px;
  }
  .active > .menup1 {
    color: #484848 !important;
  }
  .active > .menuhr1 {
    border-color: #c232ff !important;
  }
  .active > .menup2 {
    color: #484848 !important;
  }
  .active > .menuhr2 {
    border-color: #c232ff !important;
  }
  .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
  }
  .thumbnail {
    padding: 0;
  }
  .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
  }
  #tagg {
    border: .5px solid #c7c7c7;
    border-radius: 3px;
    color: #a7a7a7;
  }
  #tags{
    border: .5px solid #c7c7c7;
    border-radius: 5px;
    color: #a7a7a7; 
    font-size: 11px;
    height: 23px;
    padding: 2px 3px 2px 2px;
    margin: 0 0px 0 10px;
    }
  hr{
    margin: 0 0 0 0;
  }
  .clickable {
    cursor: pointer;
    cursor: hand;
  }
</style>
<div class="container" style="padding-left: 99px;padding-right: 36px;margin: 0 0 50px 70px;">
  <div class="row">
    <div class="col-md-12">
      <p style="color:#a0a0a0;margin: 32px 0 0 -15px;font-size: 14px;">All results</p>
    </div>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <div class="form-group has-success has-feedback">
      <input class="form-control mr-sm-2" type="search" placeholder="All Results" aria-label="Search" style="font-size: 27px;margin: 23px 0 0 -30px;border-color: transparent; color: #4a4a4a; width:56%;">
      <hr style="margin: -1px 17% 0 -15px;width: 300px;">
    </div>
    <div class="panel " style="">
      <div id="tagg" style="background-color: #56d321;color: white;font-size: 12px;margin: 49px 0 0 133px;height: 25px;width: 85%;
    border-radius: 16px;">  
        <p class="clickable" style="text-align:center;margin: 3px 0 0 10px;" data-toggle="modal" data-target="#ModalCreateDestination" >+ Add new destination</p>
      </div>
    </div>
  </form> 
  <div class="row" style="padding-top: 50px">
    <div class="col-md-2">
      <div class="row" style="padding-bottom: 12px">
        <div class="col-md-12" style="padding: 0px;margin: 0px">
          <p style="font-size: 13px;color: #505050;margin-bottom: 5px">Tags</p>
          <hr width="11px" align="left" style="margin-top: 0px;border-color: #4a4a4a">
        </div>
      </div>
      <div>
        <div class="panel panel-default" style="">
          <div id="tagg" style="background-color: #c037ff;color:white;font-size: 10px;margin: 19px -11px 0 -15px;height: 25px;">  
            <p style="text-align: left;margin: 3px 0 0 10px;">Transportation(213)</p>
          </div>
        </div>
      </div>
      <div  style="word-wrap: break-word;width: 184%;margin: 24px 0 0 0px;padding:2px 0 0 0;display: inline-flex;"><!--aaaa-->
       <div id="tags" style="width: auto;margin: 0 0 0 -14px;">Timing(188)</div>
       <div id="tags" style="width: auto;">What to bring(187)</div>
      </div>

      <div  style="word-wrap: break-word;width: 184%;margin: 11px 0 0 0px;padding:2px 0 0 0;display: inline-flex;"><!--aaaa-->
       <div id="tags" style="width: auto;margin: 0 0 0 -14px;">Laws to know(134)</div>
       <div id="tags" style="width: auto;">Scams(129)</div>
       <div id="tags" style="width: auto;">wifi(101)</div>
      </div>
      <div style="color: #a0a0a0;font-size: 12px;margin: 22px 0 32px -14px;">
        <p>See all tags</p>
      </div>
      <div class="panel" style="font-size: 10px;margin: 20px 7px 43px -13px;word-wrap: break-word;width: 182%;    width: 182%;">
       <a data-toggle="tab" style="text-decoration: none">
          <p style="font-size: 15px;color:#c2c2c2;margin-bottom: 5px;">Destination
          <i class="fa fa-angle-down" style="font-size: 16px;float: right;"></i></p>
          <hr width="101%" style="margin-top: 0px;border-color:  #c2c2c2">
        </a>
        <a data-toggle="tab" style="text-decoration: none;padding: 1px;">
          <p style="font-size: 15px;color:#c2c2c2;margin-bottom: 5px;">Categories
          <i class="fa fa-angle-down" style="font-size: 16px;float: right;"></i></p>
          <hr width="101%" style="margin-top: 0px;border-color:  #c2c2c2">
        </a>
      </div>      
      <div class="row">
        <div style="background-color:#d8d8d8;height: 200px;width: 269px;margin: 0 -91px 0 0;text-align: center;">
         <p style="color: #4a4a4a;font-size: 14px;margin: 87px 0 0 0;">*Add goes here*</p>
        </div>
      </div> 
    </div>   
    <div class="col-md-10" style="padding-left: 100px;">
      <div class="row" style="padding-bottom: 16px;">
        <div class="col-md-12 nopadding nomargin">
          <ul class="nav nav-tabs active" style="border-bottom: 0px;padding-left: 41px">
            <li class="active" style="text-decoration-style: none;">
              <a data-toggle="tab" href="#home" class="active" style="text-decoration: none">
                <p class="menup1" style="font-size: 13px;color:  #9c9c9c;margin-bottom: 5px;">Tips</p>
                <hr class="menuhr1" width="11px" align="left" style="margin-top: 0px;border-color:  #9c9c9c">
              </a>
            </li>
          </ul>
          <% @tips.each do |tip| %>
            <%= render partial: "tips/tip_card" , locals: {tip: tip} %>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalCreateDestination" tabindex="-1" role="dialog" aria-labelledby="ModalCreateDestination" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <%= form_for :destination, url: '/destinations', remote: true do |f| %>
                <div class="modal-header">
                    <h5 class="modal-title">Create new destination</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="ModalBody" class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <%= f.label :name %>
                        </div>
                    </div>
                    <div class="row" style="display:flex; align-items: center;">
                        <div class="col-md-12">
                            <%= f.text_field :name, class: 'form-control', required: true, minlength: 3, placeholder: 'Enter the name of the destination' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <%= f.label :type, "Destination type" %>
                        </div>
                    </div>
                    <div class="row" style="display:flex; align-items: center;">
                        <div class="col-md-12">
                            <%= f.select :type, options_for_select(Tip.entity_types_for_select), {include_blank: 'Select a destination type from the list'}, {class: 'form-control', required: true, onchange: 'update_from_destination_type()'} %>
                        </div>
                    </div>
                    <div id="country_container" style="display: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <%= f.label :country_id, "Which country this belongs?" %>
                            </div>
                        </div>
                        <div class="row" style="display:flex; align-items: center;">
                            <div class="col-md-12">
                                <%= f.select :country_id, options_for_select([]), {include_blank: 'Select a country from the list'}, {class: 'form-control', required: false, onchange: 'update_cities()'} %>
                            </div>
                        </div>
                    </div>
                    <div id="cities_container" style="display: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <%= f.label :city_id, "Which city this belongs?" %>
                            </div>
                        </div>
                        <div class="row" style="display:flex; align-items: center;">
                            <div class="col-md-12">
                                <%= f.select :city_id, options_for_select([]), {include_blank: 'Select a city from the list'}, {class: 'form-control', required: false} %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: left">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <%= f.submit "Submit", class: 'btn btn-glx' %>
                </div>
                <% end -%>
            </div>
        </div>
    </div>
</div>


