<style type="text/css">
  .nopadding {
    padding-left: 0px;
    padding-right: 0px;
  }
  .nomargin {
    margin-left: 0px;
    margin-right: 0px;
  }
  .active > .menup1 {
    color: #484848 !important;
  }
  .active > .menuhr1 {
    border-color: #c232ff !important;
  }
  .active > .menup2 {
    color: #484848 !important;
  }
  .active > .menuhr2 {
    border-color: #c232ff !important;
  }
  .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
  }
  .thumbnail {
    padding: 0;
  }
  .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
  }
  #tagg {
    border: .5px solid #c7c7c7;
    border-radius: 3px;
    color: #a7a7a7;
  }
  #tags{
    border: .5px solid #c7c7c7;
    border-radius: 5px;
    color: #a7a7a7; 
    font-size: 11px;
    height: 23px;
    padding: 2px 3px 2px 2px;
    margin: 0 0px 0 10px;
  }
  hr{
    margin: 0 0 0 0;
  }
  .select-category {
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: white; 
    font-size: 12px;
    height: 23px;
    padding: 2px 5px 5px 5px;
    margin: 0 10px 0 10px;
    background-color: #c232ff;
  }
  .unselect-category {
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    color: #c7c7c7; 
    font-size: 11px;
    height: 23px;
    padding: 2px 5px 5px 5px;
    margin: 10px 0px 0px 10px;
  }
</style>
<div class="container" style="padding-left: 99px;padding-right: 36px;margin: 0 0 50px 70px;">
  <div class="row">
    <div class="col-md-12">
      <p style="color:#a0a0a0;margin: 32px 0 0 -15px;font-size: 14px;">All results</p>
    </div>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <div class="form-group has-success has-feedback">
      <h3 class="form-control mr-sm-2" type="search" placeholder="Bosco Gurin" aria-label="Search" style="font-size: 35px;margin: 23px 0 0 -30px;border-color: transparent; color: #4a4a4a; width:56%;"><%= @destination.name %></h3>
      <i class="fa fa-search" style="margin: 20px 0 0 -9px;  color: #c3c3c3;font-size: 29px"></i>
      <hr style="margin: -1px 17% 0 -15px;width: 366px;">
    </div>
  </form> 
  <div class="row" style="padding-top: 50px">
    <div class="col-md-3">
      <div class="row" style="padding-bottom: 12px">
        <div class="col-md-12" style="padding: 0px;margin: 0px">
          <p style="font-size: 13px;color: #505050;margin-bottom: 5px">Filter</p>
          <hr width="11px" align="left" style="margin-top: 0px;border-color: #4a4a4a">
        </div>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <div class="form-group has-success has-feedback">
          <input class="form-control mr-sm-2 js-example-basic-multiple" type="search" placeholder="Search" aria-label="Search" style="margin:7px 0 0 -16px;padding:5px 10px; border-radius: 2px;background-color: #f2f2f2;font-size: 12px; border-color: transparent; color:#484848; width: 170px;">
          <i class="fa fa-search" style="margin-left: -30px; color: #c3c3c3"></i>
        </div>
      </form>

      <!-- Categories -->
      <% if @bandera %>
      <div class="row" style="margin-top: 10px" >
        <ul class="nav nav-tabs active" style="border-bottom: 0px">
          <li class="active" style="text-decoration-style: none;">
            <a data-toggle="tab" href="#home" class="active" style="text-decoration: none">
              <p class="menup1" style="font-size: 13px;color:  #9c9c9c;margin-bottom: 5px;">Selected tags</p>
              <hr class="menuhr1" width="11px" align="left" style="margin-top: 0px;border-color:  #9c9c9c">
            </a>
          </li>
        </ul>
      </div>
      <% end %>

      <div class="row" style="margin-top: 0px" >
        <% @destination.tip_categories.each do |category| %>
          <% if request.url.include?(category[:slug]) %>
            <%= link_to "#{category[:name]} (#{category[:count]})",  calculate_tagging_url(request.fullpath, category[:slug]), class: 'select-category' ,style: 'margin-left: 0px;margin-right:5px;margin-top: 10px' %>
          <% end -%>
        <% end -%>
      </div>

      <% if @bandera %>
        <div class="row" style="margin-top: 10px" >
          <ul class="nav nav-tabs active" style="border-bottom: 0px">
            <li class="active" style="text-decoration-style: none;">
              <a data-toggle="tab" href="#home" class="active">
                <p class="menup1" style="font-size: 13px;color:  #9c9c9c;margin-bottom: 5px;">Unselected tags</p>
                <hr class="menuhr1" width="11px" align="left" style="margin-top: 0px;border-color:  #9c9c9c">
              </a>
            </li>
          </ul>
        </div> 
        <div class="row"  style="margin-top: 0px">
          <% @destination.tip_categories(params[:tags]).each do |category| %>
            <% if !request.url.include?(category[:slug]) %>
              <%= link_to "#{category[:name]} (#{category[:count]})", calculate_tagging_url(request.fullpath, category[:slug]), class: 'unselect-category' ,style: 'margin-left: 0px;margin-right:5px;margin-top: 10px' %>
            <% end -%>
          <% end -%>
        </div>
      <% end %>

      <div class="row" style="margin-top: 10px" >
        <ul class="nav nav-tabs active" style="border-bottom: 0px">
          <li class="active" style="text-decoration-style: none;">
            <a data-toggle="tab" href="#home" class="active" style="text-decoration: none">
              <p class="menup1" style="font-size: 13px;color:  #9c9c9c;margin-bottom: 5px;">All tags</p>
              <hr class="menuhr1" width="11px" align="left" style="margin-top: 0px;border-color:  #9c9c9c">
            </a>
          </li>
        </ul>
      </div>
      <div class="row">
        <% @destination.tip_categories.each do |category| %>
          <a href="/d/<%= @destination[:slug] %>/tag/<%= category[:slug] %>" class="unselect-category" style="margin-left: 0px;margin-right:5px;margin-top: 10px" >
            <%= "#{category[:name]} (#{category[:count]})" %>
          </a>
        <% end -%>
      </div>

      <!-- <div>
        <div class="panel panel-default" style="">
          <div id="tagg" style="background-color: #c037ff;color:white;font-size: 10px;margin: 19px -11px 0 -15px;height: 25px;">  
            <p style="text-align: left;margin: 3px 0 0 10px;">Tansportation(213)</p>
          </div>
        </div>
      </div>
      <div  style="word-wrap: break-word;width: 184%;margin: 24px 0 0 0px;padding:2px 0 0 0;display: inline-flex;">
       <div id="tags" style="width: auto;margin: 0 0 0 -14px;"><a href="<%# calculate_tagging_url(request.original_url,'Timing') %>">Timing(188)</a></div>
       <div id="tags" style="width: auto;">What to bring(187)</div>
      </div>

      <div  style="word-wrap: break-word;width: 184%;margin: 11px 0 0 0px;padding:2px 0 0 0;display: inline-flex;">
       <div id="tags" style="width: auto;margin: 0 0 0 -14px;">Laws to know(134)</div>
       <div id="tags" style="width: auto;">Scams(129)</div>
       <div id="tags" style="width: auto;">wifi(101)</div>
      </div> -->
      <div style="color: #a0a0a0;font-size: 12px;margin: 22px 0 32px -14px;">
        <p>See all tags</p>
      </div>
      <div class="panel" style="font-size: 10px;margin: 20px 7px 43px -13px;word-wrap: break-word;width: 100%;    width: 100%;">
       <a data-toggle="tab" style="text-decoration: none">
          <p style="font-size: 15px;color:#c2c2c2;margin-bottom: 5px;">Destination
          <i class="fa fa-angle-down" style="font-size: 16px;float: right;"></i></p>
          <hr width="101%" style="margin-top: 0px;border-color:  #c2c2c2">
        </a>
        <a data-toggle="tab" style="text-decoration: none;padding: 1px;">
          <p style="font-size: 15px;color:#c2c2c2;margin-bottom: 5px;">Categories
          <i class="fa fa-angle-down" style="font-size: 16px;float: right;"></i></p>
          <hr width="101%" style="margin-top: 0px;border-color:  #c2c2c2">
        </a>
      </div>      
      <div class="row">
        <div style="background-color:#d8d8d8;height: 200px;width: 269px;margin: 0 -91px 0 0;text-align: center;">
         <p style="color: #4a4a4a;font-size: 14px;margin: 87px 0 0 0;">*Ad goes here*</p>
        </div>
      </div>                              
    </div>
    <div class="col-md-9" style="padding-left: 60px;">
      <div class="row" style="padding-bottom: 16px;">
        <div class="col-md-12 nopadding nomargin">
          <ul class="nav nav-tabs active" style="border-bottom: 0px">
            <li class="" style="text-decoration-style: none;">
              <a data-toggle="tab" href="#home" class="active">
                <p class="menup1" style="font-size: 13px;color:  #9c9c9c;margin-bottom: 5px;">Tips</p>
                <hr class="menuhr1" width="11px" align="left" style="margin-top: 0px;border-color:  #9c9c9c">
              </a>
            </li>
            <li style="padding-left: 33px">
              <a data-toggle="tab" href="#menu1" >
                <p class="menup2" style="font-size: 13px;color:  #9c9c9c;margin-bottom: 5px;">Photos</p>
                <hr class="menuhr2" width="11px" align="left" style="margin-top: 0px;border-color:  #9c9c9c">
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="home" class="tab-pane active" style="margin: 0 -5% 0 -6%">
              <% @destination.tips_with_tags(params[:tags]).each do |tip| %>
                 <%= render partial: "tips/tip_card" , locals: {tip: tip} %> 
              <% end %> 
            </div>
            <div id="menu1" class="tab-pane">
              <div id="main_area">
                <div class="row">
                  <div class="col-sm-12" style="padding-left: 0px" id="slider-thumbs">
                    <ul class="hide-bullets" style="padding-left: 54px">
                      <div class="row">
                        <li class="col-sm-3" style="padding-bottom: 30px">
                          <a class="thumbnail" id="carousel-selector-0">
                            <img src="http://placehold.it/170x170">
                          </a>
                        </li>
                        <li class="col-sm-3" style="padding-bottom: 30px">
                          <a class="thumbnail" id="carousel-selector-0">
                            <img src="http://placehold.it/170x170">
                          </a>
                        </li>
                        <li class="col-sm-3" style="padding-bottom: 30px">
                          <a class="thumbnail" id="carousel-selector-0">
                            <img src="http://placehold.it/170x170">
                          </a>
                        </li>
                        <li class="col-sm-3" style="padding-bottom: 30px">
                          <a class="thumbnail" id="carousel-selector-0">
                            <img src="http://placehold.it/170x170">
                          </a>
                        </li>
                        <li class="col-sm-3" style="padding-bottom: 30px">
                          <a class="thumbnail" id="carousel-selector-0">
                            <img src="http://placehold.it/170x170">
                          </a>
                        </li>
                        <li class="col-sm-3" style="padding-bottom: 30px">
                          <a class="thumbnail" id="carousel-selector-0">
                            <img src="http://placehold.it/170x170">
                          </a>
                        </li>
                        <li class="col-sm-3" style="padding-bottom: 30px">
                          <a class="thumbnail" id="carousel-selector-0">
                            <img src="http://placehold.it/170x170">
                          </a>
                        </li>
                        <li class="col-sm-3" style="padding-bottom: 30px">
                          <a class="thumbnail" id="carousel-selector-0">
                            <img src="http://placehold.it/170x170">
                          </a>
                        </li>
                        <li class="col-sm-3" style="padding-bottom: 30px">
                          <a class="thumbnail" id="carousel-selector-0">
                            <img src="http://placehold.it/170x170">
                          </a>
                        </li>
                        <li class="col-sm-3" style="padding-bottom: 30px">
                          <a class="thumbnail" id="carousel-selector-0">
                            <img src="http://placehold.it/170x170">
                          </a>
                        </li>
                        <li class="col-sm-3" style="padding-bottom: 30px">
                          <a class="thumbnail" id="carousel-selector-0">
                            <img src="http://placehold.it/170x170">
                          </a>
                        </li>
                        <li class="col-sm-3" style="padding-bottom: 30px">
                          <a class="thumbnail" id="carousel-selector-0">
                            <img src="http://placehold.it/170x170">
                          </a>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  
  function addFavorite(tip,element){

    console.log(element.attr("id"));

    $.post('<%=add_favorite_tip_path%>',{tip_id: tip}, function (data) {

      if (data.success == true) {

        if ($(element).hasClass('fa-bookmark')) {
            console.log('fa-bookmark-o');
            $(element).addClass('fa-bookmark-o');
            $(element).removeClass('fa-bookmark');
        }else{
            console.log('fa-bookmark');
            $(element).addClass('fa-bookmark');
            $(element).removeClass('fa-bookmark-o');
        }
      }
    });
  }

  // $(function(){
  //   var data = {
  //     id: 1,
  //     text: '<%= @destination.name %>'
  //   };
  //   var newOption = new Option(data.text, data.id, true, false);
  //   $('.destination-search').append(newOption).trigger('change');
  //   $(".destination-search").val(1);
  //   $(".destination-search").trigger('change');
  // })
  
</script>
 