/* .form-control:focus {
	color: #495057;
    background-color: #fff;
    border-color: transparent !important;
    outline: none;
}
 */
/* .fa-heart, .fa-heart-o, .fa-bookmark, .fa-bookmark-o, .fa-flag-o{
  cursor: pointer;
} */

p{
	word-wrap: break-word;
}
