/* .body-container{
	padding: 51px 182px 0 286px;
}
.title-style{
	color: #484848;
	font-size: 24px;
	padding-bottom: 19px;
	margin: 0 0 0 0;
}
#field-style{
	width: 30%;
	padding: 19px 0 0 0;
	font-size: 15px
}
#field-setting{
	width: 42.5%;
	padding: 19px 0 0 0;
	font-size: 15px;
}
#field-password{
	width: 42.5%;
	padding-left: 0px;
	padding-right: 120px;
}
 */