/* hr{
	margin:0 0 0 36px;
}
.container-home{
	padding:64px 195px 12px 195px
}
.headed-counter{
	color:#ff5130;
	font-size: 68px;
	font-family: Arial;
	padding-bottom: 25px;
}
.headed-title{
	color: #484848;
	font-size: 32px;
}
.headed-text{
	font-size: 16px;
	color: #484848
}
.long-search{
	padding-right: 102px;
	padding-left: 106px;
}
.search-engine-style{
	background-color: #f7f7f7;
	border: none;
	border-radius: 1px;
	padding-top: 8px;
	padding-bottom: 8px
}
.button-search{
	padding-left: 37px;
	padding-right: 37px;
	background-color: #121343;
	border: none;
	border-radius: 1px;
}
.featured-content{
	padding-top: 55px;
	padding-left: 54px
}
.featured-content-p{
	font-size: 17px;
	color: #484848;
	margin-bottom: 10px
} */