
@media only screen and (max-width: 575px) {
    .nav-mobile{
        float: right;
        margin-top: -50px;
    }

    .navbar-nav .dropdown-menu{
        position: absolute;
        float: none;
        margin-left: -283%;
    }

    .navbar-nav {
        flex-direction: initial;
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {
 
     .nav-mobile{
         float: right;
         margin-top: 0;
     }
  
 }

 @media only screen and (max-width: 767px) {
 
    .margin-80px-top {
        margin-top: 20px;
    }

    .padding-180px-bottom {
        padding-bottom: 60px;
    }

    .icons-social-media{
        text-align: center; 
        padding-top: 12px;
        padding-bottom: 12px; 
    }

    .text-footer-menu{
        text-align: left; 
    }

    .headed-title {
        color: #484848;
        font-size: 25px;
    }

    .icons-social-media{
        text-align:left; 
    }

    .show-title-destinations-countries{
        font-size: 16px;
        padding-top: 20px; 
    }

    .secction-destinations-countries{
        padding-top: 20px;
    }

}



@media only screen and (max-width: 991px) {
    

    .icons-cardtip-responsive .fa{
        font-size: 16px; 
    }

    .text-icons-user-tipcard p{
        font-size: 14px; 
    }
}


@media only screen and (min-width: 768px) {
 
   .padding-35px-responsive{
       padding-left: 30px; 
   }

 
}

@media only screen and (max-width: 490px) {
 
    .padding-35px-responsive{
        padding-left: 30px; 
    }
 
 }


 @media only screen and (min-width: 768px) and (max-width: 991px) {
    .padding-15px-resposive-768-991{
        padding-bottom: 15px; 
    }
}