/* .icon-comment{
	color: #22f6f5;
	padding-left: 6px;
	font-size: 20px;
}
.icon-book-mark{
	color: #ffc036;
	padding-right: 20px;
	font-size: 20px;
}
.icon-twitter{
	margin: 12px 0 0 162px;
}
.alinear-bordes{
	padding-left: 21px;
	padding-right: 52px;
	padding-bottom: 109px;
}
.align-content-borders{
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
	border-radius: 2px;
	padding-left: 0px;
	padding-right: 0px;
}
.align-image-profile{
	margin-left: 0px;
	margin-right: 0px
}
.align-image{
	padding-left: 17px;
	padding-top: 28px;
}
.align-dates{
	padding-left: 25px;
	padding-right: 0px;
}
.align-name{
	padding: 0px;margin: 0px
}
.p-name{
	font-size: 12px;
	color: #6b6b6b;
	padding-right: 0px;
	padding-top: 31px;
	margin: 0px
}
.point-circle{
	font-size: 6px;
	padding-top: 37px;
	color: #b8b8b8;
	padding-left: 16px;
	padding-right: 16px
}
.count-visits{
	font-size: 12px;
	color: #b8b8b8;
	padding-right: 0px;
	padding-top: 31px;
	margin: 0px
}
.date-visit{
	padding: 0px;
	margin: 0px
}
.date-style{
	font-size: 12px;
	color: #b7b7b7;
	padding-right: 0px;
	padding-top: 3px;
	margin: 0px
}
.layout-of-options{
	padding-top: 31px;
	padding-right: 0px;
}
.views-transparent{
	font-size: 11px;
	color: #b8b8b8;
	padding-right: 20px;
}
.number-comentars{
	font-size: 11px;
	color: #b8b8b8;
	padding-right: 20px;
}
.cheer{
	font-size: 11px;
	color: #b8b8b8;
	padding-right: 20px
}
.min-book-mark{
	color: #ffc036;
	padding-right: 20px;
	font-size: 13px;
}
.flag-mark{
	color: #ff0f42;
	padding-right: 20px;
	font-size: 13px;
}
.data-tip-current-user{
	font-size: 12px;
	color: #b8b8b8;
	padding: 27px 0 8px 20px;
}
.title-tip{
	color: #4a4a4a;font-size: 36px
}
.container-comments{
	background-color: #f8f8f8;
	height: auto;
	width: 100%;
}
.comments{
	width: 64%;
	margin-top: 51px;
}
.container-text-comments{
	border: 1px solid #ebebeb;
	width: 62.5%;
	height: 10%;
	background-color: white;
	margin-left: 18.7%;
}
.div-image-comment{
	padding-left: 2px;
	padding-top: 20px;
	height: 34px;
}
.text-box-comment{
	margin: 3% 0 0 -7%;
    width: 127%;
    height: 91%;
	border: transparent;
}
.comments-container{
	border: 1px solid #ebebeb;
	width: 64%;
	height: 14%;
	background-color: white;
	margin: 29px 0 0 244px;
}
.comments-container-text{
	border: 1px solid #ebebeb;
	width: 64%;
	height: 140px;
	background-color: white;
	margin: 29px 0 0 244px;
}
.comment-header{
      height: 75px;
      margin: 0px

}
.align-comment-image{
	margin: 18px 0 0 1px;
	height: 41%;
}
.name-comment-user{
	margin: 18px 0 0 1px;
	height: 20%;
}
.comment-name-style{
	font-size: 11px;
	color: #472179;
}
.comment-point{
	font-size: 6px;
	color: #b8b8b8;
	margin: 6px 10px 0px 10px;
}
.countries-visited-user{
	font-size: 12px;
	color: #b0b0b0;
}
.date-location{
	padding: 0px;
	margin: 0px;
	height: 27%;
}
.date-style-p{
	font-size: 10px;
	color: #b0b0b0;
	padding-right: 0px;
	padding-top: 1px
}
.cut-comment{
	width: 87%;
	color: #515151
}
.more-comments{
	padding-left: 37px;
	padding-right: 37px;
	background-color: #c037ff;
	border: none;
	border-radius: 1px;
	height: 42px;
	width: 163px
}
.color-style-button{
	color: #fcfcfc;
}
.load-more-align-button{
	margin:28px 0 0 44%;
	 padding-bottom: 3%;

}
.trip-container-box{
	border: 1px solid #ebebeb;
	width: 368px;
	height: 246px;
	background-color: white;
	margin: 0 30px 71px 0;
}
.margin-trip-box{
	margin: 15px 0 0 6px;
}
.trip-tittle-box{
	font-size: 24px;color: #4a4a4a;
}
.line-of-box-trip{
	width: 45px;
	margin: 18px 0 0 7px;
	border: 1px solid #d8d8d8;
}
.inline-countries{
	opacity:0.3;
	display: inline-flex;
}
.container-inline{
	display: inline-flex;
}
.image-tip-trip{
	width: 50px;
	height: 45px;
}
.name-tip-trip{
	height: 23px;
	font-size: 12px;
	margin: 0 0 0 12px;
	color: #696969;
}
.date-tip-trip{
	color: #afafaf;
	font-size: 11px;
	margin: 4px 0 0 0;
}
.number-likes{
	height: 23px;
	margin: 0 0 0 114px;
	color: #a6a6a6;
	font-size: 12px;
}
.margin-icons{
	 margin: 0 10px 0 12px;
}
.comment-body-space{
	margin: 0 0 0 15px
}
.footer{
	margin-top: 90px
}
#text-box-comment-reply{
	padding:0 48% 2% 0;
	margin: 0 0 0 16%;
}
 #search-layaout{ 
      padding:5px 10px; 
      border-radius: 2px; 
      background-color: #F2F2F2; 
      font-size: 12px;  
      border:  
      transparent;  
      width: 170px; 
    } 
    .select2-dropdown.select2-dropdown--below{ 
      background-color: #FAFAFA; 
      border: 0 solid transparent; 
    } 
    .select2-container--default.select2-container--open .select2-selection--single  { 
      background-color: #FAFAFA; 
 
    } 
    .select2-container--default .select2-selection--single { 
      background-color: #FAFAFA; 
      border: 0 solid transparent; 
    }  */