<%= form_for([:admin,@user]) do |f| %>

<table class="table">

    <tr>
        <td width="30%"><%= f.label :username, "Username" %></td>
        <td><%= f.text_field :username ,class: 'form-control' %></td>
    </tr>    
    <tr>
        <td><%= f.label :email, "Email" %></td>
        <td><%= f.text_field :email, class: 'form-control' %></td>
    </tr>
    <tr>
        <td><%= f.label :role, "Role" %></td>
        <td><%= f.select :role, options_for_select(User.roles_for_select, @user.role), {include_blank: 'select a role from the list'}, {class: 'form-control'} %></td>
    </tr>
    
</table>

<div class="row">
    <div class="col-md-12 text-right">
        <%= link_to "Back to the list of users", admin_users_path, class: 'btn btn-default' %>
        <%= link_to "Cancel", admin_user_path(@user), class: 'btn btn-warning' if !@user.id.nil? %>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>

<% end -%>