<h1>Edit user</h1>
<%= notice.html_safe if notice %>
<ul>
    <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end -%>
</ul>
<%= render 'form' %>
<div style="clear: both;"></div>

<h2>Edit password</h2>
<%= form_for([:admin,@user]) do |f| %>
<table class="table">
    <tr>
        <td width="30%"><%= f.label :password, "Password" %></td>
        <td><%= f.password_field :password, class: 'form-control' %></td>
    </tr>
    <tr>
        <td><%= f.label :password_confirmation, "Password confirmation" %></td>
        <td><%= f.password_field :password_confirmation, class: 'form-control' %></td>
    </tr>
</table>
<button type="submit" class="btn btn-primary pull-right">Submit</button>
<% end -%>
<div style="clear: both;"></div>