<div class="row">
    <div class="col-md-12">
        <h1>
            List of user
            <%= link_to "Create user", new_admin_user_path, class: 'btn btn-primary' %>
        </h1>
        <%= notice.html_safe if notice %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>                    
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>                    
                    <td><%= user.email %></td>
                    <td><%= user.role_name %></td>
                    <td><%= render_badge(user.badge_color,user.status_name) %></td>
                    <td><%= link_to "Details", admin_user_path(user), class: 'btn btn-primary btn-xs' %></td>
                </tr>
                <% end -%>
            </tbody>
        </table>
    </div>
</div>