<h1>Create user</h1>
<%= notice.html_safe if notice %>
<ul>
    <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end -%>
</ul>
<%= render 'form' %>
<div style="clear: both;"></div>