<div class="row">
    <div class="col-md-12">
        <h1>
            User Details
            <%= link_to 'Back to the list of users', admin_users_path, class: 'btn btn-default' %>
            <%= link_to "Edit", edit_admin_user_path(@user), class: 'btn btn-primary' %>            
            <%= link_to "Delete", admin_user_path(@user), class: 'btn btn-danger', data: {method: 'DELETE', confirm: 'are you sure?'} %>
        </h1>
        <%= notice.html_safe if notice %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <td><b>Username:</b></td>
                <td><%= @user.username %></td>
            </tr>            
            <tr>
                <td><b>Email:</b></td>
                <td><%= @user.email %></td>
            </tr>
            <tr>
                <td><b>Creation date:</b></td>
                <td><%= @user.created_at %></td>
            </tr>
            <tr>
                <td><b>Role:</b></td>
                <td><%= @user.role_name %></td>
            </tr>            
            <tr>
                <td><b>Status:</b></td>
                <td><%= @user.status_name %></td>
            </tr>
            <tr>
                <td><b>Date of last entry:</b></td>
                <td><%= @user.last_sign_in_at %></td>
            </tr>
        </table>
    </div>
</div>