<script type="text/javascript">
    $(document).on("turbolinks:before-cache", function() {
        $('.countries-select').select2('destroy');
    });

    $(document).on('turbolinks:load', function() {
        $(".countries-select").select2({});
    })
</script>
<%= stylesheet_link_tag 'edit_settings' %>
<%= form_for(@user, {url: update_profile_path,multipart:true,method: :post} ) do |f| %>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8  mx-auto">
            <h3 class="padding-40px-top"><strong>Settings</strong></h3>
        </div>
        <!-- start username -->
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8  mx-auto">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <hr class="edit-text-line-separator">
                </div>
                <div class="col-4 col-sm-2 col-md-3 col-lg-3 col-xl-3">
                    <label><b> Username</b></label>
                </div>
                <div class="col-auto col-sm-8 col-md-5 col-lg-5 col-xl-5">
                    <label class="edit-text-italic-gray"> <%= @user.username  %></label>
                </div>
                <div class="col-8 col-sm-8 col-md-4 col-lg-4 col-xl-4">
                    <%= f.text_field :username ,class: 'form-control',placeholder: 'Name', style: "border:none; margin: 0 0 0 -12px; font-size: 12.5px; color: #868e96;"%>
                    <hr style="background-color: #a0a0a0;margin: 0px;">
                </div>
            </div>
        </div>
        <!-- end username -->
        <!-- start email -->
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8  mx-auto">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <hr class="edit-text-line-separator">
                </div>
                <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3">
                    <label><b> Email</b></label>
                </div>
                <div class="col-auto col-sm-8 col-md-5 col-lg-5 col-xl-5">
                     <label class="edit-text-italic-gray"> <%= @user.email %></label>
                </div>
                <div class="col-8 col-sm-8 col-md-4 col-lg-4 col-xl-4">
                    <input class="form-control" style="font-size: 12px;border-bottom: 1px solid;padding-left: 0px;border-top: 0px;border-left: 0px;border-radius: 0px;border-right: 0px;color: #a0a0a0" type="text" placeholder="Email" name="user[email]" id="user_email" value="<%= @user.email %>">
                </div>
            </div>
        </div>
        <!-- end email -->
        <!-- start avatar -->
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8  mx-auto">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <hr class="edit-text-line-separator">
                </div>
                <div class="col-12 col-sm-2 col-md-3 col-lg-3 col-xl-3">
                    <label><b> Avatar</b></label>
                </div>
                <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                    <label class="edit-text-italic-gray"><%= f.file_field :avatar %></label>
                </div>
            </div>
        </div>
        <!-- end avatar -->
        <!-- start about me -->
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8  mx-auto">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <hr class="edit-text-line-separator">
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <label><b> About me</b></label>
                </div>
                <div class="col-12 col-sm-10 col-md-9 col-lg-9 col-xl-9">
                    <%= f.text_area :bio ,class: 'form-control', max: 500 %>
                </div>
            </div>
        </div>
        <!-- end about me -->
        <!-- start Countries visited -->
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8  mx-auto">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <hr class="edit-text-line-separator">
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                    <label><b> Countries visited</b></label>
                </div>
                <div class="col-12 col-sm-10 col-md-9 col-lg-9 col-xl-9">
                    <%= f.select :country_ids, options_for_select(Country.all.map { |e| [e.name,e.id] }), {include_hidden: false}, {class: 'form-control select2', multiple: true, data: {placeholder: 'Select all the countries you have visited'}} %>
                </div>
            </div>
        </div> 
        <!-- end Countries visited -->
        <!-- start button -->
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 mx-auto">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <hr class="edit-text-line-separator">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <button type="submit" class="btn btn-success" style="color: #fff">Save changes</button>
                </div>
            </div>
        </div>   
        <!-- end button -->   
    </div>
</div>
<!-- <table class="table">
                <tbody style="color: #484848">
                    <tr>
                        <td id="field-style">Username</td>
                        <td id="field-setting"><%= @user.username  %></td>
                        <td style="padding-left: 0px;padding-right: 10px">
                             <%= f.text_field :username ,class: 'form-control',placeholder: 'Name', style: "border:none; margin: 0 0 0 -12px; font-size: 12.5px; color: #868e96;"%>
                             <hr style="background-color: #a0a0a0;margin: 0px;">
                        </td>
                    </tr>
                    <tr>
                        <td id="field-style">Email</td>
                        <td id="field-setting"><%= @user.email %></td>
                        <td style="padding-left: 0px;padding-right: 10px">
                            <input class="form-control" style="font-size: 12px;border-bottom: 1px solid;padding-left: 0px;border-top: 0px;border-left: 0px;border-radius: 0px;border-right: 0px;color: #a0a0a0" type="text" placeholder="Email" name="user[email]" id="user_email" value="<%= @user.email %>">
                        </td>
                    </tr>
                    <tr>
                        <td id="field-style">Password</td>
                        <td id="field-password">
                            <%= f.password_field :password, class: 'form-control',placeholder: 'Old password',style: 'font-size: 12px;border-bottom: 1px solid;padding-left: 0px;border-top: 0px;border-left: 0px;border-radius: 0px;border-right: 0px;color: #a0a0a0' %>
                        </td>
                        <td style="padding-left: 0px;padding-right: 40px">
                            <%= f.password_field :password_confirmation, class: 'form-control',placeholder: 'New password',style: 'font-size: 12px;border-bottom: 1px solid;padding-left: 0px;border-top: 0px;border-left: 0px;border-radius: 0px;border-right: 0px;color: #a0a0a0' %>
                        </td>
                    </tr>
                    <tr>
                        <td id="field-style">Avatar</td>
                        <td colspan="2" style="width: 42.5%; padding-left: 0px;padding-top: 19px;font-size: 15px;">
                            <%= f.file_field :avatar %>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%; padding-left: 0px;padding-top: 19px;font-size: 15px">About me</td>
                        <td colspan="2" style="width: 42.5%; padding-left: 0px;padding-top: 19px;font-size: 15px;">
                           <%= f.text_area :bio ,class: 'form-control', max: 500 %>
                        </td>
                    </tr>
                    <tr>
                        <td id="field-style">Countries visited</td>
                        <td colspan="2" style="width: 42.5%; padding-left: 0px;padding-top: 19px;font-size: 15px;">
                            <%= f.select :country_ids, options_for_select(Country.all.map { |e| [e.name,e.id] }, current_user.country_ids), {include_hidden: false}, {class: 'form-control countries-select', multiple: true, data: {placeholder: 'Select all the countries you have visited'}} %>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                </tbody>
</table> -->
<% end -%>


