<div class="row">
    <div class="col-md-12">
        <h1>
            <%= link_to 'Back', root_path, class: 'btn btn-default' %>
            <%= link_to "Edit", edit_profile_path, class: 'btn btn-primary' %>  
        </h1>
        <%= notice.html_safe if notice %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <td><b>Id</b></td>
                <td><%= @user.id %></td>
            </tr>
            <tr>
                <td><b>Name:</b></td>
                <td><%= @user.username %></td>
            </tr> 
            <tr>
                <td><b>Gender:</b></td>
                <td><%= @user.gender_name %></td>
            </tr>   
            <tr>
                <td><b>About me:</b></td>
                <td><%= @user.bio %></td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td><%= @user.email %></td>
            </tr>
            <tr>
              <td><b>Avatar:</b></td>
              <td><%= image_tag @user.avatar.url(:thumb) %></td>
            </tr>
        </table>
    </div>
</div>
