<div class="container">
  <!-- information user -->
  <div class="row align-items-start no-gutters padding-30px-top">
      <div class="col-3  col-sm-2 col-md-2 col-lg-2 col-xl-1">
        <img src="<%= current_user.avatar %>" class="img-circle img-responsive" style="height: 72px;width: 72px;border-radius: 50%">
      </div>
      <div class="col-9 col-sm-8 col-md-8 col-lg-7 col-xl-7 ">
        <div class="row  align-items-center">
            <p class="col-12 col-sm-12 col-md-auto col-lg-auto col-xl-auto margin-5px-bottom" style="font-size: 17px;color: #484848;"><b><%= @user.username.capitalize %></b></p>
            <i class="fa fa-circle fa-circle-icon d-none d-xl-block d-lg-block d-md-none"></i>
            <p class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 margin-5px-bottom">UI/UX Designer<i class="fa fa-circle fa-circle-icon padding-10px-lr"></i>lospazio.co</p>
            <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 margin-5px-bottom" style="font-size: 15px;color: #9c9c9c;justify-content: left"><b>Countries visited:</b> <%= @user.countries.map { |e| e.name }.join(', ') %></p>
        </div>
      </div>
      <!-- button edit -->
      <div class="col-12 col-sm-12 col-md-2 col-lg-3 col-xl-4 d-none d-xl-block d-lg-block d-md-none">
          <a href="#" class="btn button-gray-template float-right"><i class="fa fa-cog margin-5px-lr"></i>Edit profile
          </a>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 margin-15px-resposive-768px">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-1"></div>
          <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7">
            <p style="font-size: 15px;color: #9c9c9c;justify-content: left"><%= @user.bio %></p>
          </div>
        </div>
      </div>
  </div>     
  <!-- Title tips destinations countries -->
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
      <p class="show-title-destinations-countries"><b><%= @user.username.capitalize  %> has writter <span style="padding-bottom: 10px;color: #c232ff;border-bottom: 1px solid;padding-bottom: 2px;border-width: 2px"> <%= current_user.tips.count %> tips</span> for <span style="color: #38b7ff;border-bottom: 1px solid;padding-bottom: 2px;border-width: 2px">  <%= @user.count_destinations %> destinations</span> in <span style="color: #ffc036;border-bottom: 1px solid;padding-bottom: 2px;border-width: 2px">  <%= @user.count_tip_countries %> countries</span></b></p>
    </div>
  </div>
  <!-- only visible on mobile   -->
  <div class="row d-block d-sm-block d-md-block d-lg-none">
    <div class="col-12 col-sm-12 col-md-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control search-engine-style" placeholder="Filter" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline" type="button" style="background-color: #f7f7f7;"><i class="fa fa-plus" style="color: #989898;"></i></button>
          </div>
      </div>
    </div>
  </div>
   <!-- end only visible on mobile  -->
  <!-- seccion destinations, Countries , Tips and Photos-->
  <div class="row secction-destinations-countries">
  <!-- col Destinations and Countries  -->
    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 d-none d-xl-block d-lg-block d-md-none">
      <div class="row">
        <div class="col-md-12">
          <p style="font-size: 13px;color: #505050;margin-bottom: 5px">Destinations</p>
          <hr class="line-text-bottom-purple">
        </div>
      </div>
      <div class="row padding-10px-left">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <table>
            <tbody style="color: #a3a3a3">
              <tr>
                <td >
                  <p style="font-size: 14px;color: #ababab;"><b><i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>London</b></p>
                </td>
              </tr>
              <!--<tr>
                <td style="width: 30%; padding-left: 0px;padding-top: 7px;font-size: 13px">
                  <div class="row" style="padding: 0px;margin: 0px">
                    <i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>
                    <p style="font-size: 14px;color: #ababab;padding-right: 0px;padding-top: 0px;margin: 0px"><b>Amsterdam</b></p>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width: 30%; padding-left: 0px;padding-top: 7px;font-size: 13px">
                  <div class="row" style="padding: 0px;margin: 0px">
                    <i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>
                    <p style="font-size: 14px;color: #ababab;padding-right: 0px;padding-top: 0px;margin: 0px"><b>New york</b></p>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width: 30%; padding-left: 0px;padding-top: 7px;font-size: 13px">
                  <div class="row" style="padding: 0px;margin: 0px">
                    <i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>
                    <p style="font-size: 14px;color: #ababab;padding-right: 0px;padding-top: 0px;margin: 0px"><b>Copenhagen</b></p>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width: 30%; padding-left: 0px;padding-top: 7px;font-size: 13px">
                  <div class="row" style="padding: 0px;margin: 0px">
                    <i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>
                    <p style="font-size: 14px;color: #ababab;padding-right: 0px;padding-top: 0px;margin: 0px"><b>Zurich</b></p>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width: 30%; padding-left: 0px;padding-top: 7px;font-size: 13px">
                  <div class="row" style="padding: 0px;margin: 0px">
                    <i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>
                    <p style="font-size: 14px;color: #ababab;padding-right: 0px;padding-top: 0px;margin: 0px"><b>Roma</b></p>
                  </div>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="row padding-25px-top" >
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <p style="font-size: 12px;color: #ababab;">see all destinations</p>
        </div>
      </div>
      <div class="row padding-40px-top">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <p style="font-size: 13px;color: #505050;margin-bottom: 5px">Countries</p>
          <hr class="line-text-bottom-purple">
        </div>
      </div>
      <div class="row padding-10px-left">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <table>
            <tbody style="color: #a3a3a3">
              <tr>
                <td >
                  <p style="font-size: 14px;color: #ababab;"><b><i class="fa fa-circle-o" style="font-size: 11px;padding-top: 5px;color: #dcdcdc;padding-left: 0px;padding-right: 10px"></i>United kingdom</b></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row padding-25px-top" >
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p style="font-size: 12px;color: #ababab;">see all countries</p>
          </div>
      </div>
    </div>
    <!-- col Tips and Photos  -->
    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
      <div class="row">
        <div class=" col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <!--start menu tabs -->
          <nav class="custom-tabs">
            <div class="nav nav-tabs"  role="tablist">
              <a class="nav-item nav-link active"  data-toggle="tab" href="#nav-tip" role="tab"  aria-selected="true">
                Tips
              <hr class="line-text-bottom-purple">
              </a>
              <a class="nav-item nav-link"  data-toggle="tab" href="#nav-photos" role="tab" aria-selected="false">
                Photos
              <hr class="line-text-bottom-purple">
              </a>
            </div>
          </nav>
          <!-- end menu tabs -->
          <!-- start content tabs -->
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-tip" role="tabpanel" >
              <% current_user.tips.order("created_at desc").each do |tip| %>
                <%= render partial: "tips/tip_card" , locals: {tip: tip} %>
              <% end -%>
            </div>
            <div class="tab-pane fade" id="nav-photos" role="tabpanel" >
              <div id="main_area" class="padding-30px-top">
                <div class="row">
                  <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 padding-15px-bottom" id="slider-thumbs">
                    <a class="thumbnail" id="carousel-selector-0">
                      <img src="http://placehold.it/170x170" style="width: 100%; ">
                    </a>
                  </div>
                  <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 padding-15px-bottom" id="slider-thumbs">
                    <a class="thumbnail" id="carousel-selector-0">
                      <img src="http://placehold.it/170x170" style="width: 100%; ">
                    </a>
                  </div>
                  <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 padding-15px-bottom" id="slider-thumbs">
                    <a class="thumbnail" id="carousel-selector-0">
                      <img src="http://placehold.it/170x170" style="width: 100%; ">
                    </a>
                  </div>
                  <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 padding-15px-bottom" id="slider-thumbs">
                    <a class="thumbnail" id="carousel-selector-0">
                      <img src="http://placehold.it/170x170" style="width: 100%; ">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end content tabs -->
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $( document ).ready(function() {

    $(function() {
      var p = $(".nav li"); 
      p.click(function() {
        p.removeClass("active");
        $(this).addClass("active");
      });
    }); 

    $('#myCarousel').carousel({
      interval: 5000
    });
    $('[id^=carousel-selector-]').click(function () {
    var id_selector = $(this).attr("id");
      try {
          var id = /-(\d+)$/.exec(id_selector)[1];
          console.log(id_selector, id);
          jQuery('#myCarousel').carousel(parseInt(id));
      } catch (e) {
          console.log('Regex failed!', e);
      }
    });
    $('#myCarousel').on('slid.bs.carousel', function (e) {
             var id = $('.item.active').data('slide-number');
            $('#carousel-text').html($('#slide-content-'+id).html());
    });

  });
</script>

 