<style type="text/css">
    .contai{
        margin: 0 0 0 31px;
    }
    .trasparent{
        color: #9ca4ab;
    }
    #tags {
        width:100%
    }
</style>

<%= form_for(@tip) do |f| %>
    
    <%= f.hidden_field :entity_type %>
    <%= f.hidden_field :entity_id %>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="container col-md-9 contai">
            <!-- <p class="trasparent" style="font-size: 13px;margin: 21px 0 0 8px;">Tip label here </p> -->
            <div style="display: inline-block;    width: 70%;" >
                <div style="width: 50%;">
                    <%= f.text_field :subject ,class: 'form-control', placeholder: "Title", style: "margin:17px 0 0 -4px;border:none; font-size: 30px; opacity: 0.4;", required: true %> 
                    <hr style="margin: 0 17% 0 8px;">
                </div>
                <div style="width: 50%;float: right; margin: -37px 0 0 0;">
                    <select class="form-control destination-selector" aria-label="Search" style="padding:5px 10px; border-radius: 2px;background-color: #f2f2f2;font-size: 12px; border-color: transparent; color: #c3c3c3; width: 170px;"></select>
                </div>
            </div>
            <div style="margin-top: 27px;padding-bottom: 20px;">
            </div>
            <div class="row">
                <div class="col-md-8" style="display: inline;">
                    <%= f.cktext_area :body, ckeditor: { language: 'en'}, placeholder: 'Start writing ...' %>
                    <div class="row" style="padding-top: 20px;padding-bottom: 20px">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>   
                </textarea>
                </div>
                <div class="col-md-4"> 
                    <div style="padding-bottom: 25px">
                        <tr>
                            <td><%= f.label :category_ids, "Categories" %></td>
                            <td>
                            <%= select_tag 'all_categories', options_for_select(Category.get_active.map { |e| [e.name,e.id] }, @tip.category_ids), {class: 'form-control category-select', id: 'tags', multiple: true} %>
                            </td>
                        </tr>
                    </div>
                    <!-- <div style="padding-bottom: 25px">
                        <tr>
                            <td><%# f.label :country_id, "Country" %></td>
                            <td>
                            <%# f.select :country_id, options_for_select(Country.get_active.map { |e| [e.name,e.id] }, @tip.country_id) ,{:include_blank => 'All Countries'}, {class: 'form-control country-select'}%>
                            </td>
                        </tr>
                    </div> -->
                    <div>
                        <tr>
                            <td><%= f.label :is_real_time, "Is real time?" %></td>
                            <td>
                                <label><%= f.radio_button :is_real_time, true %> Yes</label>
                                <label><%= f.radio_button :is_real_time, false %> No</label>
                            </td>
                        </tr>
                    </div>
                    <!-- <div style=" display: inline;">
                        <li style=" display: inline-block;"><input type="text" class="form-control" placeholder="URL" style="margin:17px 0 0 -12px;border:none; font-size: 10px;">
                        <hr style="margin: -5px 0 0 0; width: 150px;"></li>
                    </div>   -->
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

<% end -%>

<div class="modal fade" id="ModalCreateDestination" tabindex="-1" role="dialog" aria-labelledby="ModalCreateDestination" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <%= form_for :destination, url: '/destinations', remote: true do |f| %>
                <div class="modal-header">
                    <h5 class="modal-title">Create new destination</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="ModalBody" class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <%= f.label :name %>
                        </div>
                    </div>
                    <div class="row" style="display:flex; align-items: center;">
                        <div class="col-md-12">
                            <%= f.text_field :name, class: 'form-control', required: true, minlength: 3, placeholder: 'Enter the name of the destination' %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <%= f.label :type, "Destination type" %>
                        </div>
                    </div>
                    <div class="row" style="display:flex; align-items: center;">
                        <div class="col-md-12">
                            <%= f.select :type, options_for_select(Tip.entity_types_for_select), {include_blank: 'Select a destination type from the list'}, {class: 'form-control', required: true, onchange: 'update_from_destination_type()'} %>
                        </div>
                    </div>

                    <div id="country_container" style="display: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <%= f.label :country_id, "Which country this belongs?" %>
                            </div>
                        </div>
                        <div class="row" style="display:flex; align-items: center;">
                            <div class="col-md-12">
                                <%= f.select :country_id, options_for_select([]), {include_blank: 'Select a country from the list'}, {class: 'form-control', required: false, onchange: 'update_cities()'} %>
                            </div>
                        </div>
                    </div>

                    <div id="cities_container" style="display: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <%= f.label :city_id, "Which city this belongs?" %>
                            </div>
                        </div>
                        <div class="row" style="display:flex; align-items: center;">
                            <div class="col-md-12">
                                <%= f.select :city_id, options_for_select([]), {include_blank: 'Select a city from the list'}, {class: 'form-control', required: false} %>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer" style="text-align: left">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <%= f.submit "Submit", class: 'btn btn-glx' %>
                </div>
                <% end -%>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).on("turbolinks:before-cache", function() {
    $('.country-select').select2('destroy');
    $('.category-select').select2('destroy');
});

$(document).on('turbolinks:load', function() {
    $(".country-select").select2({});
    $(".category-select").select2({
        tags: true,
        maximumSelectionLength: 5,
        tokenSeparators: [','], 
        placeholder: "Add your tags here"
    });
    
    $(".destination-selector").select2({
        ajax: {
        url: "<%= destination_search_autocomplete_tips_path %>",
        dataType: 'json',
            processResults: function (data, params) {
                return {
                    results: data
                }
            },
        },
        escapeMarkup: function (markup) { return markup; }, 
        minimumInputLength: 3,
        templateResult: function (dest) { 
            return $('<span>' + dest.name + '</span>&nbsp;-&nbsp;<span>' + dest.type +'</span>') 
        },
        templateSelection: function (dest) { 
            return $('<span>' + dest.name + '</span>&nbsp;-&nbsp;<span>' + dest.type +'</span>') 
        },
        language: {
            noResults: function(){
                return "No results found<a onClick='open_modal_create_destination($(this))' class='btn btn-primary btn-sm' style='margin-left:10px;color: white'>Create Destination</a>";
            }
        }
    });

    $(".destination-selector").on('select2:select', function (e){

        console.log(e.params.data);
        id = e.params.data.id;
        type = e.params.data.type;
        if (type == "country") {
            console.log("Selected a country")
            $("#tip_entity_id").val(id);
            $("#tip_entity_type").val(<%= Tip::EntityTypes[:country] %>);
        }else if(type == "attraction"){
            console.log("Selected an attraction")
            $("#tip_entity_id").val(id);
            $("#tip_entity_type").val(<%= Tip::EntityTypes[:attraction] %>);
        }else if(type == "city"){
            console.log("Selected a city")
            $("#tip_entity_id").val(id);
            $("#tip_entity_type").val(<%= Tip::EntityTypes[:city] %>);
        }else{
            console.log("Searched destination did not have a type " + type);
        }

    })

});

function open_modal_create_destination(element){
    $(element).css('position', 'absolute');
    $(".select2-container").css('z-index', 1);
    $('#ModalCreateDestination').modal("show");
}    

function update_from_destination_type(){
    destination_type = $("#destination_type").val();
    if (destination_type == "<%= Tip::EntityTypes[:country] %>") {
        // Nothing to do
        $("#country_container").hide();
        $("#cities_container").hide();

        $("#destination_country_id").empty();
        $("#destination_city_id").empty();

        $("#destination_country_id").val('');
        $("#destination_city_id").val('');
    }else if(destination_type == "<%= Tip::EntityTypes[:city] %>"){
        // Get the countries and populate them
        $("#country_container").show();
        $("#cities_container").hide();

        $("#destination_country_id").empty();
        $.get('<%= api_get_countries_path %>',function(data){
            $.each(data,function(key, value) 
            {
                $("#destination_country_id").append('<option value=' + value['id'] + '>' + value['name'] + '</option>');
            });
        })
    }else if (destination_type == "<%= Tip::EntityTypes[:attraction] %>"){
        // Get the countries and populate them
        $("#country_container").show();

        $("#destination_country_id").empty();
        $.get('<%= api_get_countries_path %>',function(data){
            $("#destination_country_id").append("<option value=''>Does not belong to any country</option>");
            $.each(data,function(key, value) 
            {
                $("#destination_country_id").append('<option value=' + value['id'] + '>' + value["name"] + '</option>');
            });
        })
    }else{
        alert("Unknown entity type")
    }
}

function update_cities(){
    country_id = $("#destination_country_id").val()
    if (country_id == "") {
        //Attraction doesnt belongs to any city in this country
        $("#cities_container").hide();
    }else{
        $("#cities_container").show();
        $("#destination_city_id").empty();
        $.get('<%= api_get_cities_path %>',{country_id: country_id},function(data){
            $("#destination_city_id").append("<option value=''>Does not belong to any specific city</option>");
            $.each(data,function(key, value) 
            {
                $("#destination_city_id").append('<option value=' + value['id'] + '>' + value["name"] + '</option>');
            });
        })
    }
}


    
</script>

