
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-7 col-xl-7 mx-auto padding-20px-top">
     
      <!-- tip card -->
      <div class="border-style-tipcard">
        <div class="container">
          <!-- header tip card -->
          <div class="row padding-30px-top ">
            <!-- image user -->
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 text-left"> <!-- style="background-color:rgb(231, 10, 121)" -->
              <img src="<%= tip.user.avatar %>" class="img-circle img-responsive img-tipcard">
            </div>

            <!-- info user -->
            <div class="col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6 text-left padding-35px-responsive" > <!-- style="background-color:blue" -->
                <div class="row align-items-center">
                <a class="user-link-cardtip col-12 col-sm-12 col-md-auto col-lg-auto col-xl-auto" href="<%= user_profile_path(tip.user.username) %>"><b><%= tip.user.username.capitalize %></b></a>
                <i class="fa fa-circle circle-separator col-md-1 col-lg-1 col-xl-1 no-padding d-none d-xl-block d-lg-block d-md-block d-sm-none"></i>
                <p class="user-contry-visited col-12 col-sm-12 col-md-6"><%= tip.user.countries_visited_count %> countries visited</p>
                <p class="col-12 col-sm-12 col-md-12 " style="font-size: 12px;color: #b7b7b7;">Visited there in July 2017 and did tons of research</p>
                <p class="col-12 col-sm-12 col-md-12  time-tipcard"><%= tip.created_at.strftime("%b %d") %></p>
              </div>
            </div>

            <!-- icons  -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 text-icons-user-tipcard" > <!-- style="background-color:rgb(10, 231, 39)" -->
              <div class="row">
                    <div class="col-6 col-md-5 col-lg">
                        <div class="row padding-15px-lr">
                            <p ><%= tip.visits_count %> views</p>
                            <p class="padding-15px-left" ><%= tip.comments.count %><i class="fa fa-comment-o padding-5px-left" style="color: #22f6f5;"></i></p>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 ">
                      <div class="row icons-cardtip-responsive padding-15px-lr">
                        <% if user_signed_in? %>
                          <% if tip.tip_votes.where(user_id: current_user.id).blank? %>
                          <p class="cursorpointer"><span><%= tip.tip_votes.count %></span><i class="fa fa-heart padding-5px-left" style="color: red" onclick="addVote('<%= tip.id %>',$(this))"></i></p>
                          <% else  %>
                          <p class="cursorpointer"><span><%= tip.tip_votes.count %></span><i class="fa fa-heart padding-5px-left" style="color: red" onclick="addVote('<%= tip.id %>',$(this))"></i></p>
                          <% end %>
                          <% if tip.favorite.where(user_id: current_user.id).blank? %>
                          <i class="fa fa-bookmark-o padding-15px-left cursorpointer " id="bookmark" style="color: #ffc036;" onclick="addFavorite('<%=tip.id %>',$(this))"></i>
                          <% else %>
                          <i class="fa fa-bookmark  padding-15px-left cursorpointer" id="bookmark" style="color: #ffc036;" onclick="addFavorite('<%=tip.id %>',$(this))"></i>
                          <% end %>
                          <% if tip.tip_flags.where(user_id: current_user.id).blank? %>
                          <i data-toggle="modal" data-target="#modalReport_<%= tip.id %>" class="fa fa-flag-o padding-15px-left  cursorpointer " style="color: #ff0f42;" ></i>
                          <% else %>
                          <i id="flag_tip_<%= tip.id %>" class="fa fa-flag  padding-15px-left cursorpointer" style="color: #ff0f42;" onclick="addFlag('<%=tip.id %>')" ></i>
                          <% end %>
                        <% else -%> 
                        <p data-toggle="modal" data-target="#login-modal"><%= tip.tip_votes.count %><i class="fa fa-heartbeat cursorpointer padding-5px-left " style="color: #905c2e"></i></p>
                        <i id="flag_tip_<%=tip.id %>" data-toggle="modal" data-target="#login-modal" class="fa fa-bookmark-o cursorpointer padding-15px-left " id="bookmark" style="color: #ffc036"></i>
                        <i id="flag_tip_<%=tip.id %>" data-toggle="modal" data-target="#login-modal" class="fa fa-flag-o cursorpointer padding-15px-left " style="color: #ff0f42"></i>
                      <% end -%>
                      </div>
                    </div>
                </div> 
            </div>
          </div>
          <!-- body tip card  -->
          <div class="row padding-15px-lr">
          <p style="font-size: 11px;color: #b8b8b8;"><span style="border-bottom: 1px solid #b8b8b8;padding-bottom: 4px">Avoid crowds</span></p>
          <p class="padding-10px-left " style="font-size: 11px;color: #b8b8b8;">Off the beaten path</p>
          <p class="padding-10px-left " style="font-size: 11px;color: #b8b8b8;">Non-touristy</p>
          </div>

          <!-- footer tip card -->
          <div class="row padding-5px-top" style="text-align:left">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <p style="font-size: 15px"><%= tip.categories.map { |e| e.name.titleize }.join(', ') %></p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h1 style="font-size: 24px"><strong><a style="color: #121343" href="<%= tip_path(tip) %>"><%= tip.subject.capitalize %></a></strong></h1>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <p style="color: #b8b8b8;font-size: 15px">TL;DR</p>
            </div>          
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <%= raw tip.body.truncate(300) %> <%= link_to "Show more...", tip if tip.body.size > 299 %>
            </div>
          </div>

        </div>
      </div>

 
    </div>
  </div>


<!--Modal-->
<div class="modal fade" id="modalReport_<%= tip.id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for :tip_flag, url: add_flag_tip_path, remote: true, html: { id: "form_report_#{tip.id}" } do |f| %>
        <%= f.hidden_field :tip_id, value: tip.id %>
        <div class="modal-header">
          <h5 class="modal-title" id="trip_report">Report Tip</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <label><input type="radio" name="tip_flag[option]" value="1" checked> Option 1</label>
            <br>
            <label><input type="radio" name="tip_flag[option]" value="2"> Option 2</label>
            <br>
            <label><input type="radio" name="tip_flag[option]" value="3"> Option 3</label>
            <br>
            <label><input type="radio" name="tip_flag[option]" value="4"> Other</label>
            <br>          
            <textarea name="tip_flag[observation]" class="report_text" rows="2" cols="5" style="display: none;border-color:#e9ecef;border-radius:5px;height:80px;width:95%;margin-top: 7px"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Report", class: 'btn btn-danger' %>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<script type="text/javascript">
  function addFavorite(tip,element){

    console.log(element.attr("id"));

    $.post('<%= add_favorite_tip_path %>',{tip_id: tip}, function (data) {

      if (data.success == true) {

        if ($(element).hasClass('fa-bookmark')) {
            console.log('fa-bookmark-o');
            $(element).addClass('fa-bookmark-o');
            $(element).removeClass('fa-bookmark');
        }else{
            console.log('fa-bookmark');
            $(element).addClass('fa-bookmark');
            $(element).removeClass('fa-bookmark-o');
        }
      }
    });
  }

  $( document ).ready(function() {
    $('#form_report_<%= tip.id %>').on("click",function(){
      if ($("#form_report_<%= tip.id %> input[name='tip_flag[option]']:checked").val() == "4") {
          $("#form_report_<%= tip.id %> .report_text").show();
      }else{
        $("#form_report_<%= tip.id %> .report_text").val('');
         $("#form_report_<%= tip.id %> .report_text").hide();
      }
    });
  });

  function addVote(tip,element){    

    $.post('<%= add_vote_tip_path %>',{tip_id: tip}, function (data) {

      if (data.success == true) {

        span_count = $(element).parent().children('span');
        count_vote = parseInt(span_count.html());

        count_vote = count_vote + 1;
        span_count.html(count_vote);

      }
    });
  }

</script>