<% if @response[:success] == true %>
	alert("Tip reported successfully")
	$("#modalReport_<%= @tip_flag.tip_id %>").modal('hide');
<% else -%>
	alert("Error while reporting the tip <%= @response[:message] %>")
<% end -%>