<!-- show -->
<h1>
    Tip details 
    <%= link_to "Back to destination", destination_path(id: @tip.entity_id, type: @tip.entity_type_name), class: 'btn btn-default' %>
    <% if user_signed_in? %>
        <%= link_to "Edit", edit_tip_path(@tip), class: 'btn btn-primary' if @tip.user_id == current_user.id %>
    <% end -%>
    <%= link_to "Vote", vote_tip_path(@tip), class: 'btn btn-primary', data: {method: 'POST', remote: true} %>
    <%= link_to "Flag", flag_tip_path(@tip), class: 'btn btn-primary', data: {method: 'POST'} %>
</h1>

<%= notice.html_safe if notice %>

<table class="table">
    <tr>
        <td><b>Subject:</b></td>
        <td><%= @tip.subject %></td>
    </tr>
    <tr>
        <td><b>Body:</b></td>
        <td><%= @tip.body %></td>
    </tr>
    <tr>
        <td><b>Is real time?</b></td>
        <td><%= @tip.is_real_time_name %></td>
    </tr>
    <tr>
        <td><b>Month applicable</b></td>
        <td></td>
    </tr>
    <tr>
        <td><b>Expiry date:</b></td>
        <td><%= @tip.expiry_date %></td>
    </tr>
    <tr>
        <td><b>Categories:</b></td>
        <td><%= @tip.categories.map { |e| e.name }.join(', ') %></td>
    </tr>
    <tr>
        <td><b>Created by admin?</b></td>
        <td><%= @tip.created_by_admin %></td>
    </tr>
</table>

<style type="text/css">
/* CSS Test begin */
.comment-box {
    margin-top: 30px !important;
}
/* CSS Test end */

.comment-box img {
    width: 50px;
    height: 50px;
}
.comment-box .media-left {
    padding-right: 10px;
    width: 65px;
}
.comment-box .media-body p {
    border: 1px solid #ddd;
    padding: 10px;
}
.comment-box .media-body .media p {
    margin-bottom: 0;
}
.comment-box .media-heading {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 7px 10px;
    position: relative;
    margin-bottom: -1px;
}
.comment-box .media-heading:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: -6px;
}
</style>

<h2>Comments</h2>

<div class="container">
    <div class="row">
         <div class="media comment-box">
            <div class="media-left">
                <a href="#">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">John Doe</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</div>