<% content_for :head do %>
  <meta property="og:url"           content="<%= tip_url(@tip) %>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="The Travel Brief" />
  <meta property="og:description"   content="<%= @tip.body.truncate(100) %>" />
  <meta property="og:image"         content="http://159.203.18.176/assets/logo.png" />
<% end -%>

<%= stylesheet_link_tag 'tips-detail' %>

<div class="container">
  <div class="row align-self-center">
    <!-- start col icons  -->
    <div class="col col-md-2 text-left d-none d-xl-block d-lg-block d-md-block d-sm-none ">
      <div>
        <i class="fa fa-heart" onclick="addVote('<%= @tip.id %>')"></i>
      </div>
      <div>
        <a href="#container-comments"><i class="fa fa-comment-o icon-comment"></i></a>
      </div>
      <div>
        <i class="fa fa-bookmark-o icon-book-mark" ></i>
      </div>
      <div>
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= tip_url(@tip) %>" target="_blank"><img alt="facebook" width="50" height="50" src="http://www.arthotelnoba.com/wp-content/themes/ibis-style-template/images/icon-facebook-black.svg"></a>
      </div>
      <div class="icon-twitter">
        <a target="_blank" href="http://twitter.com/share?text=<%= @tip.subject %>&url=<%= tip_url(@tip) %>">
          <img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/twitter_circle-512.png" width="40" height="40" style="margin-top: 0px;">
        </a>
      </div>
    </div>
    <!-- end col icons  -->
    <!-- start col tips -->
    <div class="col col-md-10">
        <div class="row">
          <div class="col-md-12" >
            <div>
              <div class="container">
                <!-- header tip card -->
                <div class="row padding-30px-top ">
                  <!-- image user -->
                  <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 text-left"> 
                    <img src="<%= @tip.user.avatar %>" class="img-circle img-responsive img-tipcard">
                  </div>
                  <!-- info user -->
                  <div class="col-10 col-sm-10 col-md-10 col-lg-6 col-xl-6 text-left padding-35px-responsive" > 
                    <div class="row align-items-center">
                      <a class="user-link-cardtip col-12 col-sm-12 col-md-auto col-lg-auto col-xl-auto" href="<%= user_profile_path(@tip.user.username) %>"><b><%= @tip.user.username.capitalize %></b></a>
                      <i class="fa fa-circle circle-separator col-md-1 col-lg-1 col-xl-1 no-padding d-none d-xl-block d-lg-block d-md-block d-sm-none"></i>
                      <p class="user-contry-visited col-12 col-sm-12 col-md-6"><%= @tip.user.count_tip_countries %> countries visited</p>
                      <p class="col-12 col-sm-12 col-md-12 padding-10px-top" style="font-size: 12px;color: #b7b7b7;">Visited there in July 2017 and did tons of research</p>
                      <p class="col-12 col-sm-12 col-md-12  time-tipcard"><%= @tip.created_at.strftime("%b %d") %> - <%= @tip.entity.name %></p>
                    </div>
                  </div>
                  <!-- icons  -->
                  <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 text-icons-user-tipcard" > 
                    <div class="row">
                      <div class="col-6 col-md-5 col-lg">
                        <div class="row padding-15px-lr">
                          <p><%= @tip.visits_count %> views</p>
                          <p class="padding-15px-left" ><%= @tip.comments.count %><i class="fa fa-comment-o padding-5px-left" style="color: #22f6f5;"></i></p>
                          <p style="font-size: 11px;color: #b8b8b8;padding-right: 20px">
                            <span class="count_vote"><%= @tip.tip_votes.count %></span>
                            <i class="fa fa-heart" style="color: red;padding-left: 6px" onclick="addVote('<%= @tip.id %>')"></i>
                          </p>
                        </div>
                      </div>
                      <div class="col-6 col-md-6 ">
                        <div class="row icons-cardtip-responsive padding-15px-lr">
                          <% if user_signed_in? %>

                            <% if @tip.tip_votes.where(user_id: current_user.id).blank? %>
                              <p class="cursorpointer"><span><%= @tip.tip_votes.count %></span><i class="fa fa-heart-o padding-5px-left" style="color: red" onclick="addVote('<%= @tip.id %>',$(this))"></i></p>
                            <% else  %>
                              <p class="cursorpointer"><span><%= @tip.tip_votes.count %></span><i class="fa fa-heart padding-5px-left" style="color: #905c2e" onclick="addVote('<%=@tip.id %>',$(this))"></i></p>
                            <% end %>

                            <% if @tip.favorite.where(user_id: current_user.id).blank? %>
                              <i class="fa fa-bookmark-o padding-15px-left cursorpointer " id="bookmark" style="color: #ffc036;" onclick="addFavorite('<%= @tip.id %>',$(this))"></i>
                            <% else %>
                              <i class="fa fa-bookmark  padding-15px-left cursorpointer" id="bookmark" style="color: #ffc036;" onclick="addFavorite('<%= @tip.id %>',$(this))"></i>
                            <% end %>


                            <% if @tip.tip_flags.where(user_id: current_user.id).blank? %>
                              <i data-toggle="modal" data-target="#modalReport" class="fa fa-flag-o padding-15px-left  cursorpointer " style="color: #ff0f42;" ></i>
                            <% else %>
                              <i id="flag_tip_<%= tip.id %>" class="fa fa-flag  padding-15px-left cursorpointer" style="color: #ff0f42;" onclick="addFlag('<%= @tip.id %>')" ></i>
                            <% end %>


                          <% else -%> 
                            <p data-toggle="modal" data-target="#login-modal"><%= tip.tip_votes.count %><i class="fa fa-heartbeat cursorpointer padding-5px-left" style="color: #905c2e" onclick="addVote('<%= @tip.id %>',$(this))"></i></p>
                            <i id="flag_tip_<%=tip.id %>" data-toggle="modal" data-target="#login-modal" class="fa fa-bookmark-o cursorpointer padding-15px-left" id="bookmark" style="color: #ffc036" onclick="addFavorite('<%= @tip.id %>',$(this))"></i>
                            <i id="flag_tip_<%=tip.id %>" data-toggle="modal" data-target="#login-modal" class="fa fa-flag-o cursorpointer padding-15px-left " style="color: #ff0f42" onclick="addFlag('<%= @tip.id %>',$(this))"></i>
                          <% end -%>
                      </div>
                    </div>
                  </div> 
                </div>
                <!-- footer -->
                <div class="row padding-5px-top" style="text-align:left">
                  <div class="col-12 col-md-9">
                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p style="font-size: 15px"><%= @tip.categories.map { |e| e.name.titleize }.join(', ') %></p>
                      </div>
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h1 style="font-size: 24px"><strong><%= @tip.subject %></strong></h1>
                      </div>        
                      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <%= raw @tip.body %>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-3">
                    <div class="row">
                      <div class="col-md-12">
                        <% if user_signed_in? %>
                          <% if @tip.user.id == current_user.id %>
                          <div class="col-md-12 text-right padding-10px-bottom">
                            <a href="<%= edit_tip_path %>" class="btn btn-default" style="background-color: #1bef4b;color: white;position: relative; z-index: 2; padding: 4px 20px; margin: 9px auto;border-radius: 54px 54px 54px 54px;font-size: 12px;font-family: Arial">Edit tip  <i class="fa fa-gears"></i></a>
                          </div>
                          <% end -%>
                        <% end -%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col tips -->
  </div>
</div>

<div class="padding-30px-tb" style="background-color:rgb(236, 236, 236) ">
  <div class="container">
    <div class="row">
      <div class="col col-md-10 ml-auto">
        <!-- card-comment -->
        <div class="row">
          <h4 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padding-15px-tb">Comments</h4>

          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 padding-25px-bottom">
            <div class="card-comment">
              <% if user_signed_in? %>
              <div class="row">
                <div class="col col-md-1">
                  <%= image_tag current_user.avatar(:original), class:"img-circle img-responsive", style: "height: 30px; width: 30px; border-radius: 50%;" %>
                </div>
                <div class="col col-md-11">
                  <%= render "comments/form" %>
                </div>
              </div>
              <% end -%>
            </div>
          </div>

          <div class="col">
            <div class="card-comment">
              <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg1 col-xl-1">
                    <%= image_tag "fotoperfil.png", :style=>"height: 34px;" %>
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-11 col-xl-11 no-padding" > 
                  <div class="row align-items-center">
                    <a class="user-link-cardtip col-12 col-sm-12 col-md-auto col-lg-auto col-xl-auto" href="<%= user_profile_path(@tip.user.username) %>"><b><%= @tip.user.username.capitalize %></b></a>
                    <i class="fa fa-circle col-md-1 col-lg-1 col-xl-1 no-padding d-none d-xl-block d-lg-block d-md-block d-sm-none" style="color: gray;font-size: 6px;margin-right: -60px;"></i>
                    <p class="user-contry-visited col-12 col-sm-12 col-md-6"><%= @tip.user.countries_visited_count %> countries visited</p>
                    <p class="col-12 col-sm-12 col-md-12  time-tipcard"><%= @tip.created_at.strftime("%b %d") %></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>Awesome brief! You can actually get free admissions on Tuesday Fly, just bring your passport with you and they'll let you in for free. The guide still cost money though</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-12 padding-15px-tb text-center">
              <button class="btn btn-primary " type="button"><span class="color-style-button">Load More (2)</span></button>
            </div>
        </div>
      
      </div>
    </div>
  </div>
</div>

  <!-- <div>
                      <% @tip.comments.order(id: :desc).each do |comment| %>
                        <div class="container comments-container">
                          <div class="row comment-header">
                            <div class="align-comment-image">
                              <%= image_tag comment.user.avatar(:original), class:"img-circle img-responsive", style: "height: 30px; width: 30px; border-radius: 50%;"  %>
                            </div>
                            <div class="col-md-6" style="padding: 0 0 0 19px;">
                              <div class="row name-comment-user" >
                                <p class="comment-name-style"><b><%= comment.user.username%></b></p>
                                <i class="fa fa-circle comment-point" ></i>
                                <p class="countries-visited-user">32 countries visited</p>
                              </div>
                              <div class="row date-location">
                                <p class="date-style-p"><%= comment.user.created_at.to_formatted_s(:short) %></p>
                              </div>
                            </div>
                            <div class="col-md-4 text-right">
                              <div class="row pull-right" style="padding-top: 19px;padding-right: 0px">
                              <div class="comment-vote-counter" style="font-size: 13px;margin: -2px 4px 0 0;color: red;"><%= comment.comment_votes.count%> </div>
                                <% if comment.comment_votes.where(user_id: current_user.id).blank? %>
                                  <i class="fa fa-heart-o" style="color: #ff0f42;padding-right: 20px" onclick="addCommentVote('<%= comment.id %>','<%= comment.tip_id %>',$(this))"></i>
                                <% else %>
                                  <i class="fa fa-heart" style="color: #ff0f42;padding-right: 20px" onclick="addCommentVote('<%= comment.id %>','<%= comment.tip_id %>',$(this))"></i>
                                <% end %>
                              </div>
                            </div>
                          </div>
                          <div style="margin: 0 0 0 50px">
                            <p class="cut-comment"><%= comment.body%></p>
                          </div>
                          <div class="row">
                            <div class="col-md-10" style="margin: 0 0 0 6%;">
                              <% comment.comment_replays.each do |r| %>
              
                                <div class="row comment-header">
                                  <div class="align-comment-image">
                                    <%= image_tag r.user.avatar(:original), class:"img-circle img-responsive", style: "height: 30px; width: 30px; border-radius: 50%;"  %>
                                  </div>
                                  <div class="col-md-2" style="padding: 0 0 0 19px;">
                                    <div class="row name-comment-user" >
                                      <p class="comment-name-style"><b><%= r.user.username%></b></p>
                                      <p class="comment-name-style"><b><%= r.id %></b></p>
                                    </div>
                                    <div class="row date-location">
                                      <p class="date-style-p"><%= r.user.created_at.to_formatted_s(:short) %></p>
                                    </div>
                                  </div>
                                  <div class="col-md-7">
                                    <div style="margin: 3% 0;font-size: 13px;">
                                      <%= r.content %>
                                    </div>
                                  </div>
                                  <div class="col-md-2 text-right">
                                    <div class="row pull-right" style="padding-top: 19px;padding-right: 0px">
                                    <div class="comment-vote-counter" style="font-size: 13px;margin: -2px 4px 0 0;color: red;"><%= r.comment_reply_votes.count%> </div>
                                      <% if r.comment_reply_votes.where(user_id: current_user.id).blank? %>
                                        <i class="fa fa-heart-o" style="color: #ff0f42;padding-right: 20px" onclick="addCommentReplyVote('<%= comment.id %>','<%= r.comment.tip_id %>','<%= r.id %>',$(this))"></i>
                                      <% else %>
                                        <i class="fa fa-heart" style="color: #ff0f42;padding-right: 20px" onclick="addCommentReplyVote('<%= comment.id %>','<%= r.comment.tip_id %>','<%= r.id %>',$(this))"></i>
                                      <% end %>
                                    </div>
                                  </div>
                                </div>                  
                              <%end%>
                            </div>
                          </div>
                          <div class="col-md-12"> 
                            <div id="load-reply_<%= comment.id %>" onclick="openReplyComment(<%= comment.id %>)" style=";margin: 0 0 2% 80%;font-size: 70%; color: #46bcf8;">Comment on this</div>
                            <div style="display: none" id="replay_comment_<%= comment.id %>">
              
                              <div class="row" style="display: flex;" id="container_replay">
                                <div class="field col-md-9" id="replay_container_div">
                                  <textarea id="text_replay_<%= comment.id %>" rows="2" placeholder="Write a comment..." id="text-box-comment-reply" style="border:none;margin: 0 0 2% 6%;padding: 0 55% 4% 0px;font-size: 14px;"></textarea>                     
                                </div>
                                <div class="col-md-3">
                                  <button id="send_replay_<%= comment.id %>" type="button" onclick="sendCommentReplay(<%= comment.id %>)" style="float: right; margin: 3% 128% 0 0;background-color: transparent;   border: transparent;">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
</div> -->
              





<!-- modal-->
<div class="modal fade" id="modalReport" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="trip_report">Report Options</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form name="form_report" id="form_report" action="" method="POST">
        
          <input type="radio" name="option" value="1" checked> Option 1
          <br>
          <input type="radio" name="option" value="2"> Option 2
          <br>
          <input type="radio" name="option" value="3"> Option 3
          <br>
          <input type="radio" name="option" value="4"> Other
          <br>          
          <textarea id="report_text" rows="2" cols="5" style="display: none;border-color:#e9ecef;border-radius:5px;height:80px;width:95%;margin-top: 7px">          
          </textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" onclick="addFlag('<%= @tip.id %>',$(this))">Report</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  function addVote(tip){    

    $.post('<%= add_vote_tip_path %>',{tip_id: tip}, function (data) {

      if (data.success == true) {

        span_count = $(".count_vote");
        count_vote = parseInt(span_count.html());

        count_vote = count_vote + 1;
        span_count.html(count_vote);

      }
    });
  }

  function addFlag(tip){   

      observation = $('#report_text').val();

      $.post('<%= add_flag_tip_path %>',{tip_id: tip, option: $("input[name=option]:checked").val(), observation: observation}, function (data) {
        if (data.success == true) {
          location.reload();
        }
      });
    }

  $( document ).ready(function() {
    $('#form_report').on("click",function(){
      if ($("input[name=option]:checked").val() == 4) {
          $( "#report_text" ).show();
      }else{
        $("#report_text").val('');
        $( "#report_text" ).hide();
      }
    });
  });

    function addFavorite(tip,element){

      $.post('<%= add_favorite_tip_path %>',{tip_id: tip}, function (data) {

        if (data.success == true) {

          if ($(element).hasClass('fa-bookmark')) {
              console.log('fa-bookmark-o');
              $(element).addClass('fa-bookmark-o');
              $(element).removeClass('fa-bookmark');
          }else{
              console.log('fa-bookmark');
              $(element).addClass('fa-bookmark');
              $(element).removeClass('fa-bookmark-o');
          }
        }
        
      });
    }

  
      

    function addCommentVote(comment,tip,element){

      $.post('<%= add_vote_comment_path %>',{tip_id: tip,comment_id: comment}, function (data) {
        if (data.success == true) {
          votes_counter = $(element).parent().find('.comment-vote-counter');
          votes_count = parseInt($(votes_counter).text());
          $(votes_counter).text(votes_count + 1);
          if ($(element).hasClass('fa-heart')) {
              // $(element).addClass('fa-heart-o');
              // $(element).removeClass('fa-heart');
          }else{
              $(element).addClass('fa-heart');
              $(element).removeClass('fa-heart-o');
          }
        }
      });
    }

  function addCommentReplyVote(comment,tip,reply,element){

      $.post('<%= add_vote_comment_reply_path %>',{tip_id: tip,comment_id: comment,reply_id: reply}, function (data) {

        if (data.success == true) {
          votes_counter = $(element).parent().find('.comment-vote-counter');
          votes_count = parseInt($(votes_counter).text());
          $(votes_counter).text(votes_count + 1);
          if ($(element).hasClass('fa-heart')) {
              // $(element).addClass('fa-heart-o');
              // $(element).removeClass('fa-heart');
          }else{
              console.log('fa-heart');
              $(element).addClass('fa-heart');
              $(element).removeClass('fa-heart-o');
          }
      }
    });
  }

  function openReplyComment(id_comment){
    $("#load-reply_"+id_comment).css("display", "none");
    $("#replay_comment_"+id_comment).css("display", "block");
  }

  function sendCommentReplay(id_comment){
     console.log($("#text_replay_"+id_comment).val());

     $.post('<%=create_comment_reply_path%>',{comment_id: id_comment, content:$("#text_replay_"+id_comment).val()}, function (data) {
        location.reload()
     });
  }


</script>