<!DOCTYPE html>
<html>
	<head>
		<title>TripBrief</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Trip Brief</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item <%= 'active' if controller_name == 'home' %>">
						<a class="nav-link" href="<%= admin_path %>">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item <%= 'active' if controller_name == 'users' %>">
						<a class="nav-link" href="<%= admin_users_path %>">Users</a>
					</li>
					<li class="nav-item <%= 'active' if controller_name == 'countries' %>">
						<a class="nav-link" href="<%= admin_countries_path %>">Countries</a>
					</li>
					<li class="nav-item <%= 'active' if controller_name == 'cities' %>">
						<a class="nav-link" href="<%= admin_cities_path %>">Cities</a>
					</li>
					<li class="nav-item <%= 'active' if controller_name == 'attractions' %>">
						<a class="nav-link" href="<%= admin_attractions_path %>">Attractions</a>
					</li>
					<li class="nav-item <%= 'active' if controller_name == 'categories' %>">
						<a class="nav-link" href="<%= admin_categories_path %>">Categories</a>
					</li>
					<li class="nav-item <%= 'active' if controller_name == 'tips' %>">
						<a class="nav-link" href="<%= admin_tips_path %>">Tips</a>
					</li>
					<li class="nav-item <%= 'active' if controller_name == 'tip_flags' %>">
						<a class="nav-link" href="<%= admin_tip_flags_path %>">Tip flags</a>
					</li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<div class="btn-group">
					  	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
				  		<div class="dropdown-menu dropdown-menu-right">
				  			<%= link_to "My profile", root_path, class: 'dropdown-item' %>
				  			<%= link_to "Logout", destroy_user_session_path, class: 'dropdown-item', data: {method: 'DELETE'} %>
				  		</div>
					</div>
				</ul>
			</div>
		</nav>
		<div class="container-fluid">
			<%= yield %>
		</div>
		
	</body>
</html>
