<!DOCTYPE html>
<html>

<head>
	<title>TripBrief</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<!-- meta it allows resposive mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- ********* -->
	<script type="text/javascript">
		$(document).ready(function () {
			$(".txt_name").click(function () {
			$(".txt_name").css({ 'font-size': '1.3em', 'border-color': 'transparent' });
				});
			});
	</script>
	<%= yield :head %>
</head>


<body>

	<!-- Wrap helps to position the footer in the lower part of the window -->
	<div class="wrap">

		<nav class="navbar navbar-expand-sm navbar-light">
			<div class="container">
				<a class="navbar-brand" href="<%= root_path %>">
					<%= image_tag "logo.png" %>
				</a>
				<div class="navbar-collapse"> 
					<!-- search -->
					<div class="d-none d-xl-block d-lg-block d-md-block d-sm-none">
						<form class="form-inline">
							<div class="form-group has-success has-feedback">
								<select class="fa-select form-control destination-search input-search" aria-label="Search">
										<option value="" selected> &#xf05e; Blocker</option>
									<!-- <option data-content="<i class="fa fa-search"></i>">Search</option> -->
								</select>
							</div>
							<span class="padding-15px-left" style="color: #333; font-family: Arial;font-size: 12px;">
								Our story
							</span>
						</form>
					</div>
					<ul class="nav navbar-nav align-items-center ml-auto nav-mobile">
						<li class="nav-item">
							<% if user_signed_in? %>
							<a href="<%= new_tip_path %>" class="btn btn-default button-blue-template" >Write tip</a>
							<% else -%>
							<a data-toggle="modal" data-target="#login-modal" class="btn btn-default button-blue-template d-none d-xl-block d-lg-block d-md-block d-sm-none">Write tip</a>
							<% end -%>
						</li>
						<li class="nav-item">
							<% if user_signed_in? %>
							<a href="<%= bookmarks_path %>" class="btn btn-default " style="position: relative; z-index: 2; padding: 0px 11px; margin: 9px auto;color: #ffc442;font-size: 14px">
								<span class="fa fa-bookmark-o"></span>
							</a>
							<% else %>
							<a data-toggle="modal" data-target="#login-modal" class="btn btn-default d-none d-xl-block d-lg-block d-md-block d-sm-none" style="position: relative; z-index: 2; padding: 0px 11px; margin: 9px auto;color: #ffc442;font-size: 14px">
							<span class="fa fa-bookmark-o"></span>
							</a>
							<% end -%>
						</li>	
						<% if user_signed_in? %>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	
								<div class="d-none d-xl-block d-lg-block d-md-block d-sm-none float-left padding-10px-top"><%= current_user.username.capitalize %><i class="fa fa-angle-down padding-10px-lr"></i></div>	
								<%= image_tag current_user.avatar(:original), class:"img-circle img-responsive", style: "height: 42px;width: 42px;border-radius: 50%"  %>
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="<%= my_profile_path %>">My profile</a>	
								<a class="dropdown-item" href="#">Favorited</a>	
								<a class="dropdown-item" href="<%= edit_profile_path %>">Settings</a>	
								<a class="dropdown-item" data-method="DELETE" href="<%= destroy_user_session_path %>">Logout</a>
							</div>
						</li>
						<% else -%>
						<li class="nav-item padding-5px-right">
							<a class="btn btn-default button-blue-template" data-toggle="modal" data-target="#login-modal" href="#">Log in</a>
						</li>
						<li class="nav-item">
							<a class="btn btn-default button-blue-template-outline" data-toggle="modal" data-target="#sign-up-modal" href="#">Sign up</a>
						</li>
						<% end -%>
					</ul>
				</div>
			</div>
		</nav>

		<div class="padding-180px-bottom">
			<%= yield %>
		</div>	
	</div>

	<footer>
		<div class="container ">
			<hr class="line-separator">
			<div class="row align-items-center padding-15px-resposive-768-991">
				<div class="col-lg-1 col-xl-1 d-none d-xl-block d-lg-block d-md-none">
							<a  href="<%= root_path %>">
								<%= image_tag "logo2.png" %>
							</a>
				</div>
				<div class="col-12 col-sm-11 col-md-8 col-lg-6 col-xl-6 text-footer-menu">
						<a href="<%= careers_path %>">
							<i class="color-gray-template padding-two-half-lr" >Carreers</i>
						</a>
						<a href="<%= privacy_path %>">
							<i class="color-gray-template padding-two-half-lr" >Privacy</i>
						</a>
						<a href="<%= terms_path %>">
							<i class="color-gray-template padding-two-half-lr" >Terms</i>
						</a>
						<a href="<%= about_path %>">
							<i class="color-gray-template padding-two-half-lr" >About</i>
						</a>
				</div>
				<div class="col-12 col-sm-12 col-md-4 col-lg-5 col-xl-5 icon-noline icons-social-media">
						<a href="https://www.instagram.com/thetravelbrief/">
							<i id="social-gp" class="fa fa-instagram fa-2x social padding-two-half-lr color-gray-template text-footer-menu"></i>
						</a>
						<a href="https://www.facebook.com/thetravelbrief">
							<i id="social-fb" class="fa fa-facebook-square fa-2x social padding-two-half-lr color-gray-template text-footer-menu"></i>
						</a>
						<a href="https://twitter.com/mytravelbrief">
							<i id="social-tw" class="fa fa-twitter-square fa-2x social padding-two-half-lr color-gray-template text-footer-menu"></i>
						</a>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 mx-auto">
					<form>
						<div class="form-group row">
							<label for="inputEmail3" class="col-form-label col-12 col-sm-4  col-lg-3 col-xl-3">Never miss a tring</label>
							<div class="col-11 col-sm-8  col-lg-9 col-xl-9">
								<div class="input-group mb-3">
									<input type="text" class="form-control search-engine-style" placeholder="Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
									<div class="input-group-append">
										<button class="btn btn-default button-search" type="button"><i class="fa fa-envelope"></i></button>
									</div>
								</div>
							</div>
						</div>
					</form>		
				</div>
			</div>
		</div>
	</footer>
</body>

<!-- sign up modal -->
<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content modalete">
			<div>
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" style="color:#dbdbdb;font-size: 46px;">&times;</span>
				</button>
			</div>

			<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'sign-up-form'}) do |f| %>
				<%= devise_error_messages! %>
					<div class="text-holder">
						<h3 style="font-size: 22px; margin: -16px 0 1% 8%">
							<strong>Sign up!</strong>
						</h3>
					</div>
					<div class="transparent " style="margin: 20px 99px -21px 55px; font-size: 17px">
						<small> Welcome back, eveyone is waiting for your tips!</small>
					</div>
					<div class="col-md-12" id="div-btn">
						<%=  f.text_field :username, autofocus: true, required: true ,placeholder: 'Name', style: 'font-size:19px;border:none;text-decoration:none;padding-left:20px;margin: 0px 0 0 24px;width: 95%;border-bottom: 1px solid #e6e6e6;padding-bottom: 2px;border-width: 1px;' %>
							<br>
							<%=  f.email_field :email, required: true ,placeholder: 'Email', style: 'font-size:19px;border:none;text-decoration:none;padding-left:20px;margin: 0px 0 0 24px;width: 95%;border-bottom: 1px solid #e6e6e6;padding-bottom: 2px;border-width: 1px;margin-top: 20px;', id: 'sign-up-email' %>
								<br>
								<% if @minimum_password_length %>
									<em>(
										<%= @minimum_password_length %> characters minimum)</em>
									<% end %>
										<%=  f.password_field :password, required: true ,placeholder: 'Password', style: 'font-size:19px;border:none;text-decoration:none;padding-left:20px;margin: 0px 0 0 24px;width: 95%;border-bottom: 1px solid #e6e6e6;padding-bottom: 2px;border-width: 1px;margin-top: 20px;', id:'sign-up-password' %>
											<br>
											<%=  f.password_field :password_confirmation, required: true ,placeholder: 'Confirm Password', style: 'font-size:19px;border:none;text-decoration:none;padding-left:20px;margin: 0px 0 0 24px;width: 95%;border-bottom: 1px solid #e6e6e6;padding-bottom: 2px;border-width: 1px;margin-top: 20px;' %>
												<br>
												<div class="checkbox">
													<label class="transparent ckbx">
														<input required type="checkbox" value=""> You have read and accept the
														<strong style="color:#616161">Terms and Conditions</strong>
													</label>
													<div class="row">
														<div class="col-md-4">
															<div class="col-md-4">
																<%= button_tag(type: 'submit', class: "btn btn-secondary btn_end", style: 'margin: 18px 0 0 9px;') do %>Sign up
																	<i class="fa fa-long-arrow-right"></i>
																	<% end %>
															</div>
														</div>
														<div class="col-md-8 transparent textoo">I'm already a member
															<hr class="hr_end">
														</div>
													</div>
													<div class="row">
														<div class="col-md-12">
															<button type="button" class="btn btn-primary btn_end" id="social-fb" style="display: inline-block;height: 55%;margin-left: 24px;">
																<div class="row">
																	<div class="col-md-1" style="margin-top: -5px">
																		<i class="fa fa-facebook-square fa-2x social col-md-465"></i>
																	</div>
																	<div class="col-md-9" style="margin: 1px 0 0 6px;height: 26px;">
																		<p>
																			<span style="padding-bottom: 15px;">Sign up! With Facebook</span>
																		</p>
																	</div>
																</div>
															</button>
														</div>
													</div>
												</div>
					</div>
					<% end %>
						<!--modaaal-->
		</div>
	</div>
</div>

<!-- Modal 2 log in-->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content modalete2">
			<div>
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" style="color:#dbdbdb;font-size: 46px;">&times;</span>
				</button>
			</div>

			<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'sign-in-form'}) do |f| %>
				<div class="text-holder">
					<h3 style="font-size: 22px; margin: -16px 0 1% 8%">
						<strong>Log in!</strong>
					</h3>
				</div>
				<div class="transparent" style="margin: 20px 99px -21px 55px; font-size: 17px">
					<small>Welcome back, eveyone is waiting for your tips!</small>
				</div>

				<div class="col-md-12" id="div-btn">
					<%=  f.email_field :email, autofocus: true ,placeholder: 'Email', style: 'font-size:19px;border:none;text-decoration:none;padding-left:20px;margin: 0px 0 0 24px;width: 95%;border-bottom: 1px solid #e6e6e6;padding-bottom: 2px;border-width: 1px;', required: true, id: 'sign-in-email' %>
						<br>
						<%=  f.password_field :password, autofocus: true ,placeholder: 'Password', style: 'font-size:19px;border:none;text-decoration:none;padding-left:20px;margin: 0px 0 0 24px;width: 95%;border-bottom: 1px solid #e6e6e6;padding-bottom: 2px;border-width: 1px;margin-top:15px', required: true, id:'sign-in-password' %>
							<br>
							<div class="transparent ckbx">
								<%= f.check_box :remember_me, id: 'sign-in-remember-me' %>
									<%= f.label :remember_me, for: 'sign-in-remember-me' %>
							</div>

							<div class="row">
								<div class="col-md-4">
									<%= button_tag(type: 'submit', class: "btn btn-secondary btn_end", style: 'margin-top: 18px;') do %>Log in
										<i class="fa fa-long-arrow-right"></i>
										<% end %>
								</div>
								<div class="col-md-8 transparent textoo">
									I'm already a member
									<hr class="hr_end">
								</div>
							</div>

							<div class="row" style="margin-left:0px; display: inline-block;">
								<div class="col-md-12 btn btn-primary btn_end">
									<i class="fa fa-facebook-square fa-2x social col-md-465"></i>
									<span style="padding-bottom: 15px;">Sign up! With Facebook</span>
								</div>
							</div>
				</div>
			<%end%>
		</div>
	</div>
</div>

</html>

<script type="text/javascript">

$(document).on("turbolinks:before-cache", function() {
    $('.destination-search').select2('destroy');
});

$(document).on('turbolinks:load', function() {
	<% if !notice.nil? %>
		$.notify("<%= flash[:notice] %>","info");
	<% end -%>

	$("#write-tip-login").click(function(){
		$("#redirect_to").val('<%= new_tip_path %>');
	})

	$("#login-button").click(function(){
		$("#redirect_to").val('');
	})

	$(".destination-search").select2({
	  	ajax: {
	    	url: "/destinations",
	    	dataType: 'json',
	    	processResults: function (data, params) {
	      		return {
	        		results: data
	      		}
	    	},
	  	},
	  	escapeMarkup: function (markup) { return markup; }, 
	    minimumInputLength: 1,
	    templateResult: function (dest) {
	    	if (dest.type == 'none') {
	    		return $('<span>' + dest.name + '</span>')
	    	}else{
	    		return $('<span>' + dest.name + '</span>&nbsp;-&nbsp;<span>' + dest.type +'</span>') 
	    	}
	    }
	});

	$(".destination-search").on('select2:select', function (e) {
		id = e.params.data.id;
		type = e.params.data.type;
		if (type == 'none') {
			location = "/destinations/search?q=" + e.params.data.id;
		} else {
			location = "/destinations/" + type + "/" + id;
		}

	});

});


</script>
